body{
  background-color: #fff;

}


.main__container
{
  width: 1200px;;
  margin: 0 auto;
}

.container
{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  margin: 0 auto;

}

.header
{
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  justify-content: center;
  width: 100%;
  height: 47px;
  background: #293449;
}

.header__content
{
  width: 940px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.header__logo
{
  width: 220px;
  height: 50px;
}

.header__logo .logo
{
  order: 2;
  font-family: 'Cuprum', arial;
  font-size: 24px;
  font-style: normal;
  text-transform: uppercase;
  color: #fff;
  background: #ee3643;
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 10px;
  padding-bottom: 13px;
}

.header__search
{
display: flex;
width: 160px;
min-height: 47px;
}

.search
{
  position: relative;
  width: 90px;
  min-height: 47px;
  padding-left:32px;
  background: #293449;
}

.search__img
{
      width: 17px;
      height: 17px;
      background-color: #293449;
      background-image: url('../img/icon-search.svg');
      position:absolute;
      left:20px;
      margin-top: 10px;
      margin-bottom: 15px;
}

.search__text
{
  font-family: 'Cuprum', arial;
  font-size: 17px;
  font-style: normal;
  padding-left: 15px;
  color: #fff;
  margin-top: 10px;
  margin-bottom: 15px;
}

.header__bookmarklet
{
  position: relative;
  width: 150px;
  height: 50px;
  margin-left: 130px;
}

.bookmarkleth__img
{
      width: 14px;
      height: 16px;
      background-color: #293449;
      background-image: url('../img/icon-bookmark.svg');
      position:absolute;
      margin-top: 10px;
      margin-bottom: 15px;
}

.bookmarkleth__text
{
  width: 80px;
  font-family: 'Cuprum', arial;
  font-size: 17px;
  font-style: normal;
  padding-left: 18px;
  color: #fff;
  margin-top: 10px;
  margin-bottom: 15px;
}

.bookmarkleth__count
{
  width: 20px;
  height: 47px;
  flex-direction: row;
  font-family: 'Cuprum', arial;
  font-size: 17px;
  font-style: normal;
  padding-left: 15px;
  color: #fff;
  margin-top: 15px;
  margin-bottom: 15px;
}

.header__cart
{
  width: 100px;
  height: 50px;
  margin-left: 0px;
}

.cart__img
{
      width: 15px;
      height: 15px;
      background-color: #293449;
      background-image: url('../img/icon-cart.svg');
      position:absolute;
      margin-top: 10px;
      margin-bottom: 15px;
}

.cart__text
{
  width: 80px;
  font-family: 'Cuprum', arial;
  font-size: 17px;
  font-style: normal;
  padding-left: 20px;
  color: #fff;
  margin-top: 10px;
  margin-bottom: 15px;
}

.cart__count
{
  width: 20px;
  height: 47px;
  flex-direction: row;
  font-family: 'Cuprum', arial;
  font-size: 17px;
  font-style: normal;
  padding-left: 15px;
  color: #fff;
  margin-top: 10px;
  margin-bottom: 15px;
}

.header__order
{
  width: 150px;
  margin-left: 35px;
  background-color: #63a63e;
  font-family: 'Cuprum', arial;
  font-size: 17px;
  font-style: normal;
  color: #fff;
  border: none;
}

.company
{
  min-width: 1120px;
  background-color: #f3f7f8;
}

.company__content
{
  width: 940px;
  margin: 0 auto;
}

.about__company
{
  display: flex;
  min-width: 100%;
  height: auto;
}
.company__information
{
  width: 310px;
  height: 160px;
}

.information
{
  font-family: 'Cuprum', arial;
  font-size: 16px;
  font-style: italic;
  line-height: 23px;
  color: #ee3643;
  padding-left: 55px;
  padding-top: 30px;
  padding-bottom: 50px;
}

.company__contacts
{
  width: 310px;
  height: 160px;
}

.phone
{
  width: 270px;
  height: 42px;
  margin-top: 43px;
  border: 3px solid #fff;
  position: relative;
  justify-content: center;
}

.phone__icon
{
  width: 19px;
  height: 19px;
  background-image: url('../img/icon-phone.svg');
  position:absolute;
  margin-top: 10px;
  margin-left: 15px;
  margin-bottom: 15px;
}

.phone__button
{
  font-family: 'Cuprum', arial;
  font-size: 21px;
  font-style: normal;
  color: #ee3643;
  padding-left: 55px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: none;
  background-color: inherit;
  margin-left: 15px;
}

.address__current{
  padding-right: 20px;
}
.address__current
{
  font-family: 'Cuprum', arial;
  font-size: 14px;
  font-style: normal;
  color: #32425c;
  text-align: center;
}

.company__auth
{
  display: flex;
  flex-direction: row;
  margin-top: 45px;
}

.login
{
  width: 121px;
  height: 47px;
  background-color: #ffffff;
  border: none;
  position: relative;
  margin-bottom: 20px;
  margin-left: 60px;
}

.login__button_enter
{
  border:none;
  background-color: inherit;
}

.login__button__img
{
  width: 20px;
  height: 17px;
  background-image: url('../img/icon-login.svg');
  position:absolute;
  margin-top: 12px;
  margin-left: 7px;
}

.login__button__text
{
  font-family: 'Cuprum', arial;
  font-size: 21px;
  font-style: normal;
  padding-left: 40px;
  padding-top: 10px;
}
.reg__button_enter
{
  width: 150px;
  height: 47px;
  background-color: #ffffff;
  border: none;
  font-family: 'Cuprum', arial;
  font-size: 21px;
  font-style: normal;
  margin-left: 10px;

}

.main__navigation
{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 60px;
  margin: 0 auto;
  background-color: #32425c;
  margin-bottom: 60px;
}

.nav
{
  width: 100%;
  display: flex;
  justify-content: space-around;
  list-style-type: none;
}

.nav__item a
{
  font-family: 'Cuprum', arial;
  font-size: 17px;
  font-style: normal;
  line-height: 17px;
  color: #ffffff;
  text-decoration: none;
  padding-top: 25px;
  padding-bottom: 20px;
}

.shop
{
  width: 940px;
  margin-left: 85px;
}

.shop__categories
{
  width: 100%;
  height: 130px;
  margin: 0 auto;
}

.categories
{
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  list-style-type: none;
  margin-top: 50px;
}

.categories__item_material
{
  width: 300px;
  height: 125px;
  background-color: #ffbf47;
  position: relative;
}

.categories__item_material .categories__img
{
  width: 44px;
  height: 65px;
  background-image: url('../img/icon-1.svg');
  position:absolute;
  left: 210px;
  bottom: 30px;
}

.categories__item_material .categories__button
{
  width: 135px;
  height: 40px;
  border: none;
  font-family: 'Cuprum', arial;
  font-size: 14px;
  font-style: normal;
  color: #fff;
  background:rgba(0,0,0, 0.1);
  text-transform: uppercase;
  line-height: 40px;
  margin-left: 24px;
  margin-top: -10px;
}

.categories__item_material .categories__title
{
  width: 150px;
  height: 15px;
  font-family: 'Cuprum', arial;
  font-size: 24px;
  font-style: bold;
  color: #fff;
  margin-left: 23px;
  margin-top: 25px;
}

.categories__item_tools
{
  width: 300px;
  height: 125px;
  background-color: #3bbce3;
}

.categories__item_tools .categories__img
{
  width: 75px;
  height: 61px;
  background-image: url('../img/icon-2.svg');
  position:absolute;
  margin-left: 200px;
  margin-top: -38px;
}


.categories__item_tools .categories__button
{
  width: 135px;
  height: 40px;
  border: none;
  font-family: 'Cuprum', arial;
  font-size: 14px;
  font-style: normal;
  color: #fff;
  background:rgba(0,0,0, 0.1);
  text-transform: uppercase;
  line-height: 40px;
  margin-left: 24px;
  margin-top: -10px;
}


.categories__item_tools .categories__title
{
  width: 150px;
  height: 15px;
  font-family: 'Cuprum', arial;
  font-size: 24px;
  font-style: bold;
  color: #fff;
  margin-left:30px;
  margin-top: 25px;
}


.categories__item_technic
{
  width: 300px;
  height: 125px;
  background-color: #dc91d8;
}

.categories__item_technic .categories__img
{
  width: 78px;
  height: 62px;
  background-image: url('../img/icon-3.svg');
  position:absolute;
  margin-left: 200px;
  margin-top: -38px;

}


.categories__item_technic .categories__button
{
  width: 135px;
  height: 40px;
  border: none;
  font-family: 'Cuprum', arial;
  font-size: 14px;
  font-style: normal;
  color: #fff;
  background:rgba(0,0,0, 0.1);
  text-transform: uppercase;
  line-height: 40px;
  margin-left: 35px;
  margin-top: -11px;
}


.categories__item_technic .categories__title
{
  width: 150px;
  height: 15px;
  font-family: 'Cuprum', arial;
  font-size: 24px;
  font-style: bold;
  color: #fff;
  margin-left: 36px;
  margin-top: 25px;
}

.slider__blok
{
  width: 940px;
  margin: 0 auto;
  margin-left: 45px;
  display: flex;
  flex-direction: row;
}

.shop__slider
{
  display: flex;
  flex-direction: column;
  width: 620px;
  height: 270px;
  background-color: #ffbf47;
  margin-top: 12px;
}

.shop_benefits
{
  width: 310px;
  margin-top: -2px;
}

.benefits
{
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin-left: -25px;
}

.benefits__item_sale
{
  width: 300px;
  height: 125px;
  background-color: #8ed78f;
  position: relative;
  margin-bottom: 10px;
}

.benefits__title
{
  width: 150px;
  height: 15px;
  font-family: 'Cuprum', arial;
  font-size: 24px;
  font-style: bold;
  color: #fff;
  margin-left: 30px;
  margin-top: 20px;
}

.benefits__img
{
  width: 59px;
  height: 72px;
  background-image: url('../img/icon-4.svg');
  position:absolute;
  margin-left: 200px;
  margin-top: -38px;
}

.benefits__button
{
  width: 135px;
  height: 40px;
  border: none;
  font-family: 'Cuprum', arial;
  font-size: 14px;
  font-style: normal;
  color: #fff;
  background:rgba(0,0,0, 0.1);
  text-transform: uppercase;
  line-height: 40px;
  margin-left: 30px;
  margin-top: -5px;
}


.coupon
{
  width: 300px;
  height: 130px;
  background-color: #ffc047;
  position: relative;
}

.coupon__title
{
  width: 150px;
  height: 15px;
  font-family: 'Cuprum', arial;
  font-size: 24px;
  font-style: bold;
  color: #fff;
  margin-left: 30px;
  margin-top: 28px;
}

.coupon__img
{
  width: 78px;
  height: 63px;
  background-image: url('../img/icon-5.svg');
  position:absolute;
  margin-left: 200px;
  margin-top: -38px;
}

.coupon__button
{
  width: 135px;
  height: 40px;
  border: none;
  font-family: 'Cuprum', arial;
  font-size: 14px;
  font-style: normal;
  color: #fff;
  background:rgba(0,0,0, 0.1);
  text-transform: uppercase;
  line-height: 40px;
  margin-left: 30px;
  margin-top: -5px;
}

.catalog-items{
    width:940px;
    margin:20px auto;
}

.catalog-item{
    position:relative;
    display:inline-block;
    width:218px;
    margin-right:15px;
    margin-bottom:20px;
    border:1px solid #ccc;
    line-height:20px;
    font-weight:bold;
    text-align:center;
}

.catalog-item:first-child{
    margin-right:22;
}
.catalog-item:nth-child(2n){
    margin-right:20;
}
.catalog-item:nth-child(3n){
    margin-right:20;
}

.catalog-items{
    font-size:0;
}
.catalog-item{
    font-size:16px;
}

.catalog-item .flag{
    position:absolute;
    top:-1px;
    right:-1px;
    width:60px;
    height:60px;
    text-indent:-1000px;
    overflow:hidden;
     z-index:20;
}
.catalog-item .flag-new{
    background:url("../img/new_flag.png") no-repeat 0 0;
}

.catalog-item .actions{
    position:absolute;
    top:0;
    left:0;
    width:218px;
    height:88px;
    padding:40px 0;
    background-color:rgba(255,255,255,0.9);
    z-index:10;
}

.catalog-item .actions .buy,
.catalog-item .actions .bookmark{
    display:block;
    width:129px;
    margin:0 auto;
    margin-bottom:7px;
    padding:7px 0;
    border:3px solid #63a63e;
    border-bottom-color:#367315;
    background-color:#63a63e;
    color:white;
    font-size:14px;
    font-weight:normal;
    font-family:"Cuprum", sans-serif;
    line-height:18px;
    text-decoration:none;
    text-transform:uppercase;
    border-radius:3px;
}

.catalog-item .actions .bookmark{
    color:#32425c;
    background:white;
    border-bottom-color:#63a63e;
}

.catalog-item .actions{
    display:none;
}

.catalog-item .actions{
    display:none;
}
.catalog-item:hover .actions{
    display:block;
}

.catalog-item .image{
    width:218px;
    height:168px;
}
.catalog-item .image img{
    max-width:100%;
}

.catalog-item .title{
    min-height:40px;
    padding:0 25px;
    margin-top:10px;
    margin-bottom:15px;
}
.catalog-item .discount{
    min-height:20px;
    margin-top:15px;
    margin-bottom:10px;
    color:#999;
    text-decoration:line-through;
}

.catalog-item .price{
    position:relative;
    width:80px;
    margin:10px auto;
    margin-bottom:20px;
    padding:10px 30px;
    color:white;
    background:#ee3643;
    border-radius:3px;
}

.catalog-item .price:after{
    content:"";
    position:absolute;
    top:0;
    right:-20px;
    width:0;
    height:0;
    border:20px solid white;
    border-left-color:#ee3643;
}

.servicies
{
  width: 940px;
  margin-left: 130px;
  margin-top: 37px;
}

.hit
{
  display: flex;
  flex-direction: row;
  height: 89px;
  background-color: #f9f5f0;
}

.hit__title
{
  font-family: 'Cuprum', arial;
  font-size: 30px;
  font-style: normal;
  line-height: 30px;
  text-transform: uppercase;
  color: #32425c;
  margin-left: 25px;
  margin-top: 30px;
  margin-bottom: 35px;
}

.hit__button
{
  width: 254px;
  height: 40px;
  border: none;
  background-color: #ee3643;
  font-family: 'Cuprum', arial;
  font-size: 14px;
  font-style: normal;
  color: #fff;
  text-transform: uppercase;
  margin-left: 360px;
  margin-top: 25px;
  margin-bottom: 20px;

}

.contacts
{
  width: 940px;
  margin-left: 130px;
  margin-top: -25px;
}

.makers
{
  display: flex;
  flex-direction: row;
  height: 89px;
  background-color: #f9f5f0;
}

.makers__title
{
  font-family: 'Cuprum', arial;
  font-size: 30px;
  font-style: normal;
  line-height: 30px;
  text-transform: uppercase;
  color: #32425c;
  margin-left: 25px;
  margin-top: 30px;
  margin-bottom: 35px;
}

.makers__button
{
  width: 254px;
  height: 40px;
  border: none;
  background-color: #ee3643;
  font-family: 'Cuprum', arial;
  font-size: 14px;
  font-style: normal;
  color: #fff;
  text-transform: uppercase;
  margin-left: 250px;
  margin-top: 25px;
  margin-bottom: 20px;

}

.makers__list
{
  margin-left: -40px;
  justify-content: space-between;
}


.makers__list-item{

    position:relative;
    display:inline-flex;
    width:218px;
    height: 140px;
    margin-bottom:20px;
    margin-right: 10px;
    border:1px solid #ccc;
    line-height:20px;
    font-weight:bold;
    text-align:center;
    justify-content: center;
    align-items: center;
    vertical-align: top

}

.makers__list-item img
{
  align-self: center;
}

.operations
{
  min-width: 1120px;
  background-color: #f4f8f9;
}

.service
{
  width: 940px;
  margin: 0 auto;
}

.service__title
{
  font-family: 'Cuprum', arial;
  font-size: 30px;
  font-style: normal;
  line-height: 24px;
  text-transform: uppercase;
  color: #000;
  margin-top: 125px;
}

.service__p
{
  font-family: 'Cuprum', arial;
  font-size: 13px;
  font-style: normal;
  line-height: 24px;
  color: #000;
  margin-bottom: 75px;

}

.section {
    width: 940px;
    margin-left: 130px;
    margin-bottom: 80px;
}
ul.tabs {
    height: 28px;
    line-height: 25px;
    list-style: none;
}
.tabs li {
    float: left;
    display: inline;
    margin: 0 1px -1px 0;
    padding: 0 13px 1px;
    color: #777;
    cursor: pointer;
    background: #F9F9F9;
    border: 1px solid #E4E4E4;
    border-bottom: 1px solid #F9F9F9;
    position: relative;
}
.tabs li:hover,
.vertical .tabs li:hover {
    color: #fff;
    padding: 0 13px;
    background: #32425c;
}
.tabs li.current {
    padding: 0 13px 2px;
    border: 1px solid #D4D4D4;
    border-bottom: 1px solid #EFEFEF;
}
.box {
    width: 680px;
    display: none;
    border-width: 0 1px 1px;
    background: #f4f8f9;
    padding: 0 12px;
    margin-left: 230px;
}
.box.visible {
    display: block;
    flex-direction: row;
}

.box__title
{
  font-family: 'Cuprum', arial;
  font-size: 36px;
  font-style: normal;
  line-height: 24px;
  text-transform: uppercase;
  color: #32425c;
}

.box__p
{
  width: 400px;
  font-family: 'Cuprum', arial;
  font-size: 13px;
  font-style: normal;
  line-height: 24px;
  text-transform: uppercase;
  color: #000;
}

<<<<<<< HEAD
.box__img-delivery
=======
.box__img
>>>>>>> 9cbb13684bf98ac7ba7bbed26bfca9b1f0e61e47
{
  margin-left: 80px;
  margin-top: -160px;
}

<<<<<<< HEAD
.box__img-garant
{
  margin-left: 190px;
  margin-top: -185px;
}

.box__img-credit
{
  margin-left: 80px;
  margin-top: -160px;
}
=======
>>>>>>> 9cbb13684bf98ac7ba7bbed26bfca9b1f0e61e47
.section.vertical {
    width: 940px;
    border-left: 120px solid #f4f8f9;
}
.vertical .tabs {
    width: 160px;
    float: left;
    display: inline;
    margin: 0 0 0 -160px;
}
.vertical .tabs li {
    padding: 0 13px;
    width: 240px;
    height: 60px;
    background: #fff;
    margin-right: -1px;
    font-family: 'Cuprum', arial;
    font-size: 21px;
    font-style: bold;
    line-height: 30px;
    color: #32425c;
}
.vertical .tabs li:hover {
  width: 240px;
  height: 60px;
}
.vertical .tabs li.current {
  width: 240px;
  height: 60px;
  background: #32425c;
  margin-right: -1px;
  font-family: 'Cuprum', arial;
  font-size: 21px;
  font-style: bold;
  line-height: 30px;
  color: #fff;
}
.vertical .box {
  border-width: 1px;
}
<<<<<<< HEAD

.office
{
  display: flex;
  flex-direction: row;
  width: 940px;
  margin: 0 auto;
  margin-bottom: 86px;
}

.about__office-title
{
  font-family: 'Cuprum', arial;
  font-size: 30px;
  font-style: normal;
  line-height: 25px;
  color: #000;
  margin-top: 75px;
}

.about__office__p
{
  width: 530px;
  margin-top: 40px;
  font-family: 'Cuprum', arial;
  font-size: 13px;
  font-style: normal;
}

.about__office-button
{
  width: 220px;
  height: 40px;
  border: none;
  background-color: #ee3643;
  font-family: 'Cuprum', arial;
  font-size: 14px;
  font-style: normal;
  color: #fff;
  text-transform: uppercase;
}

.contacts__company
{
  margin-left: 120px;
}

.contacts__company-title
{
  font-family: 'Cuprum', arial;
  font-size: 30px;
  font-style: normal;
  line-height: 25px;
  color: #000;
  margin-top: 75px;
}

.contacts__company-p
{
  width: 530px;
  margin-top: 40px;
  font-family: 'Cuprum', arial;
  font-size: 13px;
  font-style: normal;
}

.contacts__company-button
{
  width: 310px;
  height: 40px;
  border: none;
  background-color: #ee3643;
  font-family: 'Cuprum', arial;
  font-size: 14px;
  font-style: normal;
  color: #fff;
  text-transform: uppercase;
  margin-top: 40px;

}
=======
>>>>>>> 9cbb13684bf98ac7ba7bbed26bfca9b1f0e61e47
