body{
  background-color: #fff;
  margin: 0;
}

.main__container
{
  width: 100%;

}


.inner
{
  width: 940px;
  margin: 0 auto;
}

.container
{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  margin: 0 auto;

}


.header
{
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  justify-content: center;
  width: 100%;
  background: #293449;
}

.header:hover
{
  background: #212a3a;
  cursor: pointer;
}

.header__content
{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header-logo
{
  width: 220px;
  display: flex;
  justify-content: center;
}

.header-logo .logo
{
  order: 2;
  font-family: 'Cuprum', sans-serif;
  font-size: 24px;
  font-style: normal;
  text-transform: uppercase;
  color: #fff;
  background: #ee3643;
  padding-left: 60px;
  padding-right: 60px;
  z-index: 3;
  padding-top: 8px;
  padding-bottom: 7px;
  box-shadow: 0 6px 0 0 rgba(181,41,51,0.9);
  margin-left: 15px;
}

.search
{
display: flex;
}

.search__form input#search
{
  width: 215px;
  background: #293449;
  display: flex;
  justify-content: center;
  position: relative;
  font-family: 'Cuprum', sans-serif;
  font-size: 17px;
  font-style: normal;
  color: #fff;
  border: none;
  float: left;
  padding-left: 40px;
  padding-top: 12px;
  padding-bottom: 11px;
  margin-right: 10px;
  background-image: url('../img/icon-search_s.png');
  background-repeat: no-repeat;
  background-position: 10px;
}

.search__form input#search:hover
{
  width: 215px;
  background-color: #212a3a;
  cursor: pointer;
  display: flex;
  justify-content: center;
  position: relative;
  font-family: 'Cuprum', sans-serif;
  font-size: 17px;
  font-style: normal;
  color: #fff;
  border: none;
  padding-top: 12px;
  padding-bottom: 11px;
  margin-right: 10px;
  background-image: url('../img/icon-search.svg');
  background-repeat: no-repeat;
  background-position: 10px;
}

.search__form input#search:active  {
  width: 215px;
  background-color: #212a3a;
  cursor: pointer;
  display: flex;
  justify-content: center;
  position: relative;
  font-family: 'Cuprum', sans-serif;
  font-size: 17px;
  font-style: normal;
  color: #fff;
  border: none;
  padding-top: 12px;
  padding-bottom: 11px;
  margin-right: 10px;
    background-image: url('../img/icon-search_focus.png');
  background-repeat: no-repeat;
  background-position: 10px;
}


.search__form input#search:focus  {
  width: 215px;
  background-color: #fff;
  cursor: pointer;
  display: flex;
  justify-content: center;
  position: relative;
  font-family: 'Cuprum', sans-serif;
  font-size: 17px;
  font-style: normal;
  color: #000;
  border: none;
  padding-top: 12px;
  padding-bottom: 11px;
  float: left;
  padding-left: 35px;
    background-image: url('../img/icon-search_focus.png');
  background-repeat: no-repeat;
  background-position: 10px;
}

.blok-element
{
  display: flex;
  justify-content: center;
}

.menu-element
{
  position: relative;
}

.menu-element-basket
{
  margin-left: 45px;
}

.menu-element__img-bookmarklet
{
      width: 14px;
      height: 16px;
      background-color: #293449;
      background-image: url('../img/icon-bookmark.png');
      position:absolute;
      left: 0px;
      margin-top: 2px;
}

.menu-element:hover .menu-element__img-bookmarklet
{
      width: 14px;
      height: 16px;
      background-color: #293449;
      background-image: url('../img/icon-bookmark_pointer.png');
      position:absolute;
      left: 0px;
      cursor: pointer;
      margin-top: 2px;
}

.menu-element:active .menu-element__img-bookmarklet
{
  width: 14px;
  height: 16px;
  background-color: #161d29;
  background-image: url('../img/icon_bookmark_active.png');
  position:absolute;
  left: 0px;
  margin-top: 2px;
}


.menu-element__img-basket
{
      width: 15px;
      height: 15px;
      background-color: #293449;
      background-image: url('../img/cart-icon.png');
      position:absolute;
      left: 0px;
      border: none;
      margin-top: 2px;
}


.menu-element__img-basket
{
      width: 15px;
      height: 15px;
      background-color: #293449;
      background-image: url('../img/cart-icon.png');
      position:absolute;
      left: 0px;
      border: none;
      margin-top: 2px;
}

.menu-element:hover .menu-element__img-basket{
      background-image: url('../img/cart-icon-pointer.png');
      position:absolute;
      left: 0px;
      cursor: pointer;
      margin-top: 2px;

}

.menu-element:active .menu-element__img-basket{

  background-image: url('../img/cart-icon-active.png');
  position:absolute;
  margin-right: 0px;

}


.menu-element:hover .menu-element__img-basket
{
      width: 15px;
      height: 15px;
      background-color: #293449;
      background-image: url('../img/cart-icon-pointer.png');
      position:absolute;
      left: 0px;
      cursor: pointer;
      margin-top: 2px;

}

.menu-element:active .menu-element__img-basket
{
      width: 15px;
      height: 15px;
      background-color: #293449;
      background-image: url('../img/cart-icon-active.png');
      position:absolute;
      margin-right: 0px;
      cursor: pointer;
      margin-top: 2px;

}

.menu-element__text
{
  width: 80px;
  font-family: 'Cuprum', sans-serif;
  font-size: 17px;
  font-style: normal;
  padding-left: 24px;
  padding-bottom: 5px;
  color: #fff;
}

.menu-element:active .menu-element__text
{
  width: 80px;
  font-family: 'Cuprum', sans-serif;
  font-size: 17px;
  font-style: normal;
  padding-left: 30px;
  padding-bottom: 2px;
  color: #73777f;

}

.menu-element__text span
{
  padding-left: 5px;
}

.menu-element__text span
{
  padding-left: 5px;
}


.order
{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  margin-left: 20px;
  background-color: #63a63e;
  font-family: 'Cuprum', sans-serif;
  padding-bottom: 5px;
  font-size: 17px;
  line-height: 18px;
  font-style: normal;
  color: #fff;
  display: flex;
  justify-content: center;
  padding-top: 11px;
  padding-bottom: 13px;
}

.order:hover
{
  background-color: #5fbb2d;
  cursor: pointer;
}

.company
{
  background-color: #f3f7f8;
}

.company__info
{
  display: flex;
  min-width: 100%;
  height: auto;
}
.company__description
{
  width: 310px;
}

.description
{
  font-family: 'Cuprum', sans-serif;
  font-size: 16px;
  font-style: italic;
  line-height: 23px;
  font-weight: 700px;
  color: #ee3643;
  padding-left: 55px;
  padding-top: 30px;
  padding-bottom: 22px;
}

.company__contacts
{
  width: 310px;
}

.phone
{
  height: 40px;
  margin-left: 20px;
  margin-top: 43px;
  border: 3px solid #fff;
  position: relative;
  display: flex;
  justify-content: center;
}

.phone__icon
{
  width: 19px;
  height: 19px;
  background-image: url('../img/icon-phone.svg');
  margin-top: 10px;
  margin-bottom: 15px;
  left: 10px;
  position: absolute;
  padding: 0;
}


.phone__number
{
  display: flex;
  align-items: center;
  font-family: 'Cuprum', arial;
  font-size: 21px;
  font-style: normal;
  color: #ee3643;
  border: none;
  background-color: inherit;
  margin-left:15px;
}

.address
{
  font-family: 'Cuprum', arial;
  font-size: 14px;
  font-style: normal;
  color: #32425c;
  text-align: center;
  margin-left: 10px;
  margin-top: 5px;
}

.company__auth
{
  display: flex;
  flex-direction: row;
  margin-top: 45px;
}

.login
{
  width: 121px;
  height: 47px;
  background-color: #ffffff;
  border: none;
  position: relative;
  margin-bottom: 20px;
  margin-left: 60px;
}

.login__button_enter
{
  border:none;
  background-color: inherit;
  font-family: 'Cuprum', arial;
  font-size: 21px;
  font-style: normal;
  padding-left: 47px;
  padding-top: 12px;
}

.login__button_enter .login__button__img
{
  width: 20px;
  height: 17px;
  background-image: url('../img/icon-login.svg');
  position:absolute;
  margin-top: 3px;
  left: 12px;
}



.login__button_enter:hover .login__button__img
{
  cursor: pointer;
  background-image: url('../img/icon-login_hover.png');
  outline: none;
}

.login__button_enter:active .login__button__img
{
  cursor: pointer;
  background-image: url('../img/icon-login_active.png');
  outline: none;
}


.login__button_enter:hover
{
  color: #ee3643;
  cursor: pointer;
  outline: none;
}

.login__button_enter:active
{
  outline: none;
}

.login__button_enter:active
{
  color: #73777f;
  cursor: pointer;
  outline: none;
}



.login__button_enter:hover
{
  color: #ee3643;
  cursor: pointer;
  outline: none;
}

.login__button_enter:active
{
  outline: none;
}

.login__button_enter:active
{
  color: #73777f;
  cursor: pointer;
  outline: none;
}


.login__button_enter:hover
{
  color: #ee3643;
  cursor: pointer;
  outline: none;
}

.login__button_enter:active
{
  outline: none;
}

.login__button_enter:active
{
  color: #73777f;
  cursor: pointer;
  outline: none;
}

.reg__button_enter
{
  width: 150px;
  background-color: #ffffff;
  border: none;
  font-family: 'Cuprum', arial;
  font-size: 21px;
  font-style: normal;
  margin-left: 10px;
  padding-top: 12px;
  padding-bottom: 11px;
}

.reg__button_enter:hover
{
  color: #ee3643;
  cursor: pointer;
  outline: none;
}


.reg__button_enter:active
{
  color: #73777f;
  cursor: pointer;
  outline: none;
}


.main__navigation
{
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  background-color: #32425c;
  margin-bottom: 60px;
  border-bottom: 5px solid #293449;
}

.nav
{
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.nav__item
{
  flex-grow: 1;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding-top: 22px;
  padding-bottom: 18px;
}

.nav__item:hover
{
  background-color: #293449;
}

.nav__item:active
{
  background-color: #1d2739;
  color: #a8abaf;
}


.nav__item:first-child
{
  flex-grow: 1;
  display: flex;
  justify-content: center;
  padding-left: 23px;
}

.nav__item:last-child
{
  flex-grow: 1;
  display: flex;
  justify-content: center;
  padding-right: 25px;
}



.nav__item a
{
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  font-family: 'Cuprum', arial;
  font-size: 17px;
  line-height: 17px;
  font-weight: 400;
  font-style: normal;
  color: #ffffff;
  text-decoration: none;
  padding: 0;
}

.categories
{
  display: flex;
}

.shop-card-all
{
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;
  margin-top: 58px;
  margin-left: -40px;
}



.shop-card-materials
{
  width: 300px;
  height: 123px;
  background-color: #ffbf47;
  position: relative;
}

.shop-card-tools
{
  width: 300px;
  height: 123px;
  background-color: #3bbce3;
  position: relative;
  margin-left: 10px;
}


.shop-card-technic
{
  width: 300px;
  height: 123px;
  background-color: #dc91d8;
  position: relative;
  margin-left: 10px;
}

.shop-card-benefits
{
  width: 300px;
  height: 123px;
  background-color: #8ed78f;
  position: relative;
  margin-left: -5px;
  margin-bottom: 20px;
  margin-top: 5px;
}

.shop-card-coupon
{
  width: 300px;
  height: 123px;
  background-color: #ffc047;
  position: relative;
  margin-left: -5px;
}

.shop-card__img
{
  position:absolute;
  left: 215px;
  bottom: 30px;
}

.shop-card__img-tools
{
  left: 195px;
  bottom: 32px;
}

.shop-card__img-technic
{
  left: 190px;
  bottom: 32px;
}

.shop-card__img-benefits
{
  left: 195px;
  bottom: 25px;
}

.shop-card__img-coupon
{
  left: 190px;
  bottom: 25px;
}

.shop-card__title
{
  width: 150px;
  height: 10px;
  font-family: 'Cuprum', arial;
  font-size: 24px;
  font-style: bold;
  color: #fff;
  margin-left: 22px;
  margin-top: 22px;
  margin-bottom: 30px;
}

.shop-card__img-coupon
{
  padding-top: 20px;
}

.shop-card__link
{
  border: none;
  font-family: 'Cuprum', arial;
  font-size: 14px;
  font-style: normal;
  color: #fff;
  background-color:rgba(0,0,0, 0.1);
  border-radius: 3px;
  text-transform: uppercase;
  line-height: 40px;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  margin-left: 25px;
  margin-top: 5px;
  margin-bottom:15px;
}

.shop-card__link:hover
{
    background-color:rgba(0,0,0, 0.2);
    cursor: pointer;
}

.shop-card__link:active
{
  background-color:rgba(0,0,0, 0.3);
  cursor: pointer;
}

.shop-card__link-tools
{

}

.shop-card-all
{
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;
  margin-top: 58px;
  margin-left: -40px;
}



.shop-card-materials
{
  width: 300px;
  height: 123px;
  background-color: #ffbf47;
  position: relative;
}

.shop-card-tools
{
  width: 300px;
  height: 123px;
  background-color: #3bbce3;
  position: relative;
  margin-left: 10px;
}


.shop-card-technic
{
  width: 300px;
  height: 123px;
  background-color: #dc91d8;
  position: relative;
  margin-left: 10px;
}

.shop-card-benefits
{
  width: 300px;
  height: 123px;
  background-color: #8ed78f;
  position: relative;
  margin-left: -5px;
  margin-bottom: 20px;
  margin-top: 5px;
}

.shop-card-coupon
{
  width: 300px;
  height: 123px;
  background-color: #ffc047;
  position: relative;
  margin-left: -5px;
}

.shop-card__img
{
  position:absolute;
  left: 215px;
  bottom: 30px;
}

.shop-card__img-tools
{
  left: 195px;
  bottom: 32px;
}

.shop-card__img-technic
{
  left: 190px;
  bottom: 32px;
}

.shop-card__img-benefits
{
  left: 195px;
  bottom: 25px;
}

.shop-card__img-coupon
{
  left: 190px;
  bottom: 25px;
}

.shop-card__title
{
  width: 150px;
  height: 10px;
  font-family: 'Cuprum', arial;
  font-size: 24px;
  font-style: bold;
  color: #fff;
  margin-left: 22px;
  margin-top: 22px;
  margin-bottom: 30px;
}

.shop-card__img-coupon
{
  padding-top: 20px;
}

.shop-card__link
{
  border: none;
  font-family: 'Cuprum', arial;
  font-size: 14px;
  font-style: normal;
  color: #fff;
  background-color:rgba(0,0,0, 0.1);
  border-radius: 3px;
  text-transform: uppercase;
  line-height: 40px;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  margin-left: 25px;
  margin-top: 5px;
  margin-bottom:15px;
}

.shop-card__link:hover
{
    background-color:rgba(0,0,0, 0.2);
    cursor: pointer;
}

.shop-card__link:active
{
  background-color:rgba(0,0,0, 0.3);
  cursor: pointer;
}

.shop-card__link-tools
{
  padding-left: 27px;
  padding-right: 27px;
  padding-top: 10px;
  padding-bottom: 10px;
  align-items: center;
}

.shop-card__link-technic
{
  padding-left: 27px;
  padding-right: 31px;
  padding-top: 10px;
  padding-bottom: 10px;
  align-items: center;
}

.shop-card__link-coupon
{
  border: none;
  font-family: 'Cuprum', arial;
  font-size: 14px;
  font-style: normal;
  color: #fff;
  background-size: 135px 40px;
  background-color:rgba(0,0,0, 0.1);
  border-radius: 3px;
  text-transform: uppercase;
  line-height: 40px;
  padding-left: 35px;
  padding-right: 35px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 25px;
  margin-bottom:10px;
  align-items: center;
}

.shop-card__link-benefits
{
  padding-left: 23px;
  padding-right: 23px;
  padding-top: 13px;
  padding-bottom: 13px;
  align-items: center;
}


.slider__blok
{
  display: flex;
  flex-direction: row;
  margin-bottom: 35px;
}

.shop__slider
{
  display: flex;
  flex-direction: column;
  width: 620px;
  height: 270px;
  background-color: #ffbf47;
  margin-top: 12px;
}


.slider{
    position:relative;
    width:620px;
    height:275px;
    margin:0 auto;
    margin-top: 10px;
    margin-left: -1px;
    overflow: hidden;
}
.slider input[type=radio] {
    position:absolute;
    opacity:0;
}
.slider-controls{
    position:absolute;
    bottom:95px;
    left:50%;
    width:200px;
    height:10px;
    margin-left:-100px;
    text-align:center;
    z-index:1000;
}
.slider-controls label{
    display:inline-block;
    width:7px;
    height:7px;
    margin:0 3px;
    background:#fff;
    border:3px solid white;
    vertical-align:top;
    border-radius:50%;
    cursor:pointer;
    margin-top: 65px;
}
#btn-1:checked ~ .slider-controls label[for="btn-1"],
#btn-2:checked ~ .slider-controls label[for="btn-2"]{
    background:#ee3643;
}

.slide{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    overflow:hidden;
}
.slide__text{
    width:380px;
    padding:30px 0;
    color:#283136;
}

.slide__title{
    font-family: 'Cuprum', arial;
    font-size:36px;
    line-height:1;
    font-weight:bold;
    color:#fff;
    text-transform: uppercase;
    margin-left: 30px;
}

.slide__description{
    font-family: 'Cuprum', arial;
    font-size:18px;
    width:380px;
    color:#fff;
    margin-left: 30px;
    margin-top: 5px;
}

.slide__btn{
    display:block;
    width:195px;
    padding-top:10px;
    padding-bottom: 10px;
    margin-top:127px;
    margin-left: 27px;
    font-family: 'Cuprum', arial;
    font-size:14px;
    font-weight: 400;
    font-style: normal;
    color:white;
    text-transform:uppercase;
    text-align:center;
    text-decoration:none;
    background:#fb565a;
    border-radius:3px;
}

.slide__btn:hover
{
  background-color: #ca2c37;
}

.slide__btn:active
{
  background-color: #ba2732;
}

.slide:nth-child(1){
    background-image:url('../img/slide_1.png');
    background-repeat:no-repeat;
    background-position:100% 10px;
}
.slide:nth-child(2){
    background-image:url('../img/slide_2.png');
    background-repeat:no-repeat;
    background-position:100% 10px;
}
.slide{
    display:none;
}
#btn-1:checked ~ .slides .slide:nth-child(1) {
    display: block;
}
#btn-2:checked ~ .slides .slide:nth-child(2) {
    display: block;
}

.slider__arrow{
    position: absolute;
    width: 22px;
    height: 40px;
    top: 46%;
    transition: 0.3s ease;
    z-index:1000;
}

.slider__arrow-left{
  width: 22px;
  height: 40px;
    background-image: url('../img/icon-left.png');
    margin-left: 24px;
    left: 20px;
    opacity: 1;
    cursor: pointer;
    transition: 0.3s ease;
 }

.slider__arrow-right{
  width: 22px;
  height: 40px;
  background-image: url('../img/icon-right.png');
  margin-left: 580px;
  margin-top: -40px;
  right: 20px;
  opacity: 1;
  cursor: pointer;
  transition: 0.3s ease;
}

.shop_benefits
{
  width: 310px;
  margin-top: -2px;
}

.benefits
{
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin-left: -25px;
}

.catalog-items{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    margin:20px auto;
}

.catalog-item{
    position:relative;
    display:inline-block;
    margin-right:15px;
    border:1px solid #ccc;
    line-height:20px;
    font-weight:bold;
    text-align:center;
}

.catalog-item:hover
{
 border: 1px solid #ccc;
 box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);
}

.catalog-item:hover img
{
opacity: 0.0;
}

.catalog-item:first-child{
    margin-right:22;
}
.catalog-item:nth-child(2n){
    margin-right:20;
}
.catalog-item:nth-child(3n){
    margin-right:20;
}

.catalog-item:nth-child(4n)
{
  margin-right: 0px;
}

.catalog-items{
    font-size:0;
}
.catalog-item{
    font-size:16px;
}

.catalog-item .flag{
    position:absolute;
    top:-1px;
    right:-1px;
    width:60px;
    height:60px;
    text-indent:-1000px;
    overflow:hidden;
     z-index:20;
}
.catalog-item .flag-new{
    background:url("../img/new_flag.png") no-repeat 0 0;
}

.catalog-item__actions{
    position:absolute;
    top:0;
    left:0;
    width:218px;
    height:88px;
    padding:45px 0;
    background-color:rgba(255,255,255,0.9);
    z-index:10;
}

.catalog-item__actions .buy
{
  display:block;
  width:132px;
  margin:0 auto;
  margin-bottom:7px;
  padding:9px 0;
  padding-bottom: 6px;
  background-color:#63a63e;
  color:white;
  font-size:14px;
  font-weight:normal;
  font-family:"Cuprum", sans-serif;
  line-height:18px;
  text-decoration:none;
  text-transform:uppercase;
  border-radius:3px;
  box-shadow: 0 3px 0 0 rgba(54,115,21,0.9);
}

.catalog-item__actions .bookmark{
    display:block;
    width:126px;
    margin:0 auto;
    margin-bottom:7px;
    padding:6px 0;
    border: 3px solid #63a63e;
    color:white;
    font-size:14px;
    font-weight:normal;
    font-family:"Cuprum", sans-serif;
    line-height:18px;
    text-decoration:none;
    text-transform:uppercase;
    border-radius:3px;
}

.buy__img
{
  width: 15px;
  height: 15px;
  background: transparent;
  background-image: url('../img/cart-icon.png');
  position: absolute;
  left: 55px;
  border: none;
}

.catalog-item__actions:hover .buy
{
    background-color:#5fbb2d;
    cursor: pointer;
}

.catalog-item__actions:hover .buy__img
{
  width: 15px;
  height: 15px;
  background: transparent;
  background-image: url('../img/cart-icon-pointer.png');
  position: absolute;
  left: 55px;
}

.catalog-item__actions:active .buy
{
    background-color:#518534;
    border-bottom:3px solid #518534;

}

.catalog-item__actions .bookmark{
    color:#32425c;
    background:white;
    border-bottom-color:#63a63e;
}

.catalog-item__actions:hover .bookmark{
    color:#32425c;
    background:white;
    border:3px solid #32425c;
}

.catalog-item__actions:active .bookmark{
    color:#c1c6ce;
    background:white;
    border:3px solid #c1c6ce;
}

.catalog-item__actions{
    display:none;
}

.catalog-item__actions{
    display:none;
}
.catalog-item:hover .catalog-item__actions {
    display:block;
}

.catalog-item__image{
    width:218px;
    height:168px;
}
.catalog-item__image img{
    max-width:100%;
}

.catalog-item__title{
    min-height:40px;
    padding:0 25px;
    margin-top:10px;
    margin-bottom:15px;
}
.catalog-item__discount{
    min-height:20px;
    margin-top:15px;
    margin-bottom:10px;
    color:#999;
    text-decoration:line-through;
}

.catalog-item__price{
    position:relative;
    width:80px;
    margin:10px auto;
    margin-bottom:20px;
    padding:10px 30px;
    color:white;
    background:#ee3643;
    border-radius:3px;
}

.catalog-item__price:after{
    content:"";
    position:absolute;
    top:0;
    right:-20px;
    width:0;
    height:0;
    border:20px solid white;
    border-left-color:#ee3643;
}

.section__field
{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #f9f5f0;
}

.section__title
{
  font-family: 'Cuprum', sans-serif;
  font-size: 30px;
  font-weight: 400;
  text-transform: uppercase;
  color: #32425c;
  margin-left: 30px;
  padding-top: 5px;
}

.section__title-makers
{
  margin-left: 25px;
  padding-top: 0px;
}

.section__button
{
  width: 254px;
  height: 38px;
  border: none;
  background-color: #ee3643;
  font-family: 'Cuprum', arial;
  font-size: 14px;
  font-style: normal;
  color: #fff;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 23px;
  margin-top: 27px;
  margin-bottom: 20px;
  border-radius: 3px;
  padding-top: 1px;
  cursor: pointer;

}

.section__button:hover
{
  background-color: #ca2c37;
}

.section__button:active
{
  background-color: #ca2c37;
}


.section__field
{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #f9f5f0;
}

.section__title
{
  font-family: 'Cuprum', sans-serif;
  font-size: 30px;
  font-weight: 400;
  text-transform: uppercase;
  color: #32425c;
  margin-left: 30px;
  padding-top: 5px;
}

.section__title-makers
{
  margin-left: 25px;
  padding-top: 0px;
}

.section__button
{
  width: 254px;
  height: 38px;
  border: none;
  background-color: #ee3643;
  font-family: 'Cuprum', arial;
  font-size: 14px;
  font-style: normal;
  color: #fff;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 23px;
  margin-top: 27px;
  margin-bottom: 20px;
  border-radius: 3px;
  padding-top: 1px;
  cursor: pointer;

}

.section__button:hover
{
  background-color: #ca2c37;
}

.section__button:active
{
  background-color: #ba2732;
}

.section__button-makers
{
    margin-top: 20px;
}

.section__button-makers:hover
{
  background-color: #ca2c37;
}

.section__button-makers:active
{
  background-color: #ba2732;
}

.section__button-makers
{
    margin-top: 20px;
}

.section__button-makers:hover
{
  background-color: #ca2c37;
}

.section__button-makers:active
{
  background-color: #ba2732;
}

.makers
{
  display: flex;
  flex-direction: row;
  height: 89px;
  background-color: #f9f5f0;
}

.makers__list
{
  margin-left: -40px;
  justify-content: space-between;
}


.makers__list-item{

    position:relative;
    display:inline-flex;
    width:218px;
    height: 140px;
    margin-bottom:20px;
    margin-right: 15px;
    border:1px solid #ccc;
    line-height:20px;
    font-weight:bold;
    text-align:center;
    justify-content: center;
    align-items: center;
    vertical-align: top

}
.makers__list-item:hover
{
  border: 1px solid #ccc;
  box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);
}

.makers__list-item:active
{
  opacity: 0.5;
  border: 1px solid #ccc;
  box-shadow: 0 0 5px 5px rgba(221, 221, 221, 1);
}

.makers__list-item:nth-child(4n) {
    margin-right: 0px;
}

.makers__list-item img
{
  align-self: center;
}

.operations
{
  background-color: #f4f8f9;
  margin-bottom: 5px;
  margin-top: 65px;
}

.service
{
  width: 940px;
  margin: 0 auto;
}

.service__title
{
  font-family: 'Cuprum', arial;
  font-size: 30px;
  font-style: normal;
  line-height: 24px;
  font-weight: 400;
  text-transform: uppercase;
  color: #000;
  margin-top: 65px;
}

.service__description
{
  font-family: 'PT Sans';
  font-size: 13px;
  line-height: 24px;
  font-style: normal;
  font-weight: 500;
  color: #000;
  margin-bottom: 75px;

}

.section {
    width: 940px;
    margin-top: 25px;
}
ul.tabs-list {
    height: 28px;
    line-height: 25px;
    list-style: none;
}
.tabs-list li {
    float: left;
    display: inline;
    margin: 0 1px -1px 0;
    padding: 0 15px 1px;
    color: #777;
    cursor: pointer;
    background: #F9F9F9;
    border: 1px solid #405069;
    position: relative;
    box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.25);
}
.tabs-list li:hover,
.vertical-tabs .tabs-list li:hover {
    color: #fff;
    background: #293449;
}
.tabs-list li.tabs-list__item-current {
    padding: 0 13px 2px;
    border: 1px solid #D4D4D4;
    border-bottom: 1px solid #EFEFEF;
}

.vertical-tabs .tabs-list {
    width: 160px;
    float: left;
    margin: 0 0 0 -40px;
}
.vertical-tabs .tabs-list li {
    padding: 0 13px;
    width: 200px;
    color: #fff;
    margin-right: -1px;
    font-family: 'Cuprum', arial;
    font-size: 21px;
    font-style: bold;
    line-height: 30px;
    background-color: #32425c;
    padding-left: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
}
.vertical-tabs .tabs-list li:hover {
  width: 200px;
  padding-left: 25px;
}
.vertical-tabs .tabs-list li.tabs-list__item-current {
  width: 200px;
  color: #32425c;
  margin-right: -1px;
  font-family: 'Cuprum', arial;
  font-size: 21px;
  font-style: bold;
  line-height: 30px;
  background-color: #fff;
  padding-left: 25px;
  padding-top: 15px;
padding-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.vertical-tabs .box {
  border-width: 1px;
}

.box {
    width: 680px;
    display: none;
    border-width: 0 1px 1px;
    background: #f4f8f9;
    padding: 0 12px;
    margin-left: 185px;
}
.box.visible {
    display: block;
    flex-direction: row;
}

.box__title
{
  font-family: 'Cuprum', arial;
  font-size: 36px;
  font-style: normal;
  line-height: 24px;
  font-weight: 400;
  text-transform: uppercase;
  color: #32425c;
  margin-top: -5px;
  margin-left: 75px;
}

.box__p
{
  width: 400px;
  font-family: 'PT Sans';
  font-size: 13px;
  font-style: normal;
  line-height: 24px;
  color: #000;
  margin-top: -15px;
  margin-left: 75px;
}

.box__img-delivery
{
  margin-left: 243px;
  margin-top: -150px;
}

.box__img-garant
{
  margin-left: 250px;
  margin-top: -205px;
}

.box__img-credit
{
  margin-left: 165px;
  margin-top: -170px;
}

.box__button
{
  width: 195px;
  height: 35px;
  border: none;
  background-color: #ff5357;
  font-family: 'Cuprum', arial;
  font-size: 14px;
  font-style: normal;
  color: #fff;
  text-transform: uppercase;
  margin-top: 15px;
}

.office
{
  display: flex;
  flex-direction: row;
  margin-bottom: 62px;
  margin-top: 30px;
}

.office__title
{
  font-family: 'Cuprum', arial;
  font-size: 30px;
  font-style: normal;
  line-height: 25px;
  font-weight: 400;
  text-transform: uppercase;
  color: #000;
  margin-top: 0px;
}

.office__description
{
  width: 530px;
  padding-top: 9px;
  font-family: 'PT Sans', arial;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  font-style: normal;
}

.office__ul
{
  margin-left: -40px;
  margin-top: 20px;
  margin-bottom: 35px;
}

.office__ul li
{
  font-family: 'Cuprum', arial;
  font-size: 18px;
  font-style: normal;
  color: #000;
  list-style: none;
  background: url("../img/marker_li.png") no-repeat left 50%;
  padding-left: 35px;
  margin-bottom: 20px;
}

.section__button-office
{
  width: 220px;
  margin-top: 15px;
}

.section__button-contact a
{
  text-decoration: none;
  color: #fff;
}

.modalDialog {
	position: fixed;
	font-family: 'Cuprum', arial;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	display: none;
	pointer-events: none;
}

.modalDialog:target {
	display: block;
	pointer-events: auto;
}

.modalDialog > div {
	width: 620px;
  height: 420px;
	position: relative;
	margin: 10% auto;
  border-top: 8px solid #ee3643;
	padding: 5px 20px 13px 20px;
	background: #fff;
	background: -moz-linear-gradient(#fff);
	background: -webkit-linear-gradient(#fff);
	background: -o-linear-gradient(#fff);
}

.close {
	background: #606061;
	color: #FFFFFF;
	line-height: 25px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}

.close:hover { background: #00d9ff; }


fieldset.username
{
  width: 220px;
  border: none;
}

.username_all
{
  width: 460px;
  display: flex;
  flex-direction: row;
  margin-top: 45px;
  margin-bottom: 30px;
}

#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"] {
  font-family: 'PT Sans', arial;
  font-size: 12px;
  color: #000;
  width:260px;
  border:2px solid #CCC;
  background:#FFF;
  margin:0 0 5px;
  padding:10px;
  margin-top: 10px;
}

 #contact textarea
 {
  font-family: 'PT Sans', arial;
   font-size: 12px;
   color: #000;
   width:570px;
   border:2px solid #CCC;
   background:#FFF;
   margin:0 0 5px;
   padding:10px;
   margin-bottom: 25px;
   margin-top: 10px;
 }


#contact input[type="text"]:hover, #contact input[type="email"]:hover, #contact input[type="tel"]:hover, #contact input[type="url"]:hover, #contact textarea:hover {
  -webkit-transition:border-color 0.3s ease-in-out;
  -moz-transition:border-color 0.3s ease-in-out;
  transition:border-color 0.3s ease-in-out;
  border:2px solid #414146;
  cursor: pointer;
}

#contact input[type="text"]:active, #contact input[type="email"]:active, #contact input[type="tel"]:active, #contact input[type="url"]:active, #contact textarea:active {
  -webkit-transition:border-color 0.3s ease-in-out;
  -moz-transition:border-color 0.3s ease-in-out;
  transition:border-color 0.3s ease-in-out;
  border:2px solid #606060;
  cursor: pointer;
}

#contact textarea {
  height:100px;
  max-width:100%;
    resize:none;
}

#contact button[type="submit"] {
  font-family: 'PT Sans', arial;
  font-size: 16px;
  cursor:pointer;
  width:50%;
  border:none;
  background:#414146;
  border-bottom: 4px solid #000;
  color:#FFF;
  margin:0 0 5px;
  padding:10px;
  font-size:15px;
  text-transform: uppercase;
  border-radius: 5px;
  margin-top: 15px;
  padding-bottom: 6px;

}

#contact button[type="submit"]:hover {
  background: #ffea00;
  color: #000;
  -webkit-transition:background 0.3s ease-in-out;
  -moz-transition:background 0.3s ease-in-out;
  transition:background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active { box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.5); }

#contact input:focus, #contact textarea:focus {
  outline:0;
  border:2px solid #999;
}

.modal__button
{
  background-color: #f1f1f1;
  padding-top: 40px;
  padding-bottom: 40px;
  width: 660px;
  margin-left: -20px;
}

.section__button-modal
{
  width: 460px;
  height: 40px;
  margin:0 auto;
}

.office__contact
{
  margin-left: 110px;
}

.contacts__company
{
  margin-left: 110px;
}

.contacts__title
{
  font-family: 'Cuprum', arial;
  font-size: 30px;
  font-style: normal;
  text-transform: uppercase;
  line-height: 25px;
  font-weight: 400;
  color: #000;
  margin-top: 0px;
}

.contacts__description
{
  font-family: 'PT Sans', arial;
  font-size: 13px;
  line-height: 24px;
  font-style: normal;
  padding-top: 9px;
}

.section__button-contact
{
  width: 300px;
  margin-top:10px;
}

.footer
{
  display: flex;
  flex-direction: column;
}

.footer__logo
{
  width: 220px;
  height: 70px;
  margin-bottom: 30px;
}

.footer__logo .logo
{
order: 2;
font-family: 'Cuprum', sans-serif;
font-size: 30px;
font-style: normal;
text-transform: uppercase;
color: #fff;
background: #ee3643;
padding-left: 40px;
padding-right: 50px;
margin-bottom: -6px;
z-index: 3;
padding-top: 20px;
padding-bottom: 10px;
border-bottom: 6px solid #b52933;
}

.footer__navigation
{
  height: 190px;
  background-color: #32425c;
}

.footer__navigation-logo
{
  height: 70px;
}

.footer__navigation-p
{
  font-family: 'Cuprum', arial;
  font-size: 18px;
  line-height: 24px;
  font-style: normal;
  color: #fff;
}


.menu__top
{
  width: 600px;
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  margin-left: 320px;
  margin-top: -120px;
}

.menu__top li a
{
  font-family: 'Cuprum', arial;
  font-size: 18px;
  text-decoration: none;
  color: #fff;
}

.menu__top li:hover a
{
  border-bottom: 2px solid #fff;
}

.menu__top li:active a
{
  opacity: 0.5;
  border: none;
}

.menu__bottom
{
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  margin-left: 340px;
  margin-top: 35px;
}

.menu__bottom li a
{
  font-family: 'Cuprum', arial;
  font-size: 18px;
  text-decoration: none;
  color: #ffd180;
}

.menu__bottom li:hover a
{
  border-bottom: 2px solid #ffd180;
}

.menu__bottom li:active a
{
  opacity: 0.5;
  border: none;
}

.footer__bottom
{
  background-color: #293449;
  display: flex;
  flex-direction: row;

}

.footer__container
{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  vertical-align: top;
  align-items: center;
}

.footer__address
{
  font-family: 'Cuprum', arial;
  font-size: 16px;
  line-height: 18px;
  color: #fff;
  font-style: normal;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  margin-top: 45px;
  margin-right: 30px;
}

.social
{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 35px;
}

.social-li
{
  display: inline-block;
  text-decoration: none;
  background: #212a3a;
  width: 40px;
  height: 40px;
  border-radius: 30px;
  margin-right: 5px;
}

.social-li img
{
  padding-top: 12px;
  padding-left: 5px;
}

.social-li-fb img
{
    padding-left: 15px;
    padding-top: 10px;
}

.social-li-insta img
{
    padding-left: 10px;
    padding-top: 10px;
}

.social-li:hover
{
  background: #ee3643;
}

.footer__feedback
{
  font-family: 'Cuprum', arial;
  font-size: 16px;
  line-height: 18px;
  color: #fff;
  font-style: normal;
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;

}

.footer__feedback span a
{
  color: #ffd180;
  text-decoration: none;
}

.footer__feedback:hover span a
{
  color: #ffd180;
  text-decoration:underline;
}

.footer__feedback:active span a
{
  color: #ee3643;
  text-decoration:none;
}


.footer__dev
{
  font-family: 'Cuprum', arial;
  font-size: 16px;
  line-height: 18px;
  color: #fff;
  font-style: normal;
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
}

.footer__dev span a
{
  color: #ffd180;
    text-decoration: none;
}

.footer__dev:hover span a
{
  color: #ffd180;
  text-decoration:underline;
}

.footer__dev:active span a
{
  color: #ee3643;
  text-decoration:none;
}

.breadcrumbs
{
  display: inline-flex;
}

.catalog__title
{
  width: 940px;
  height: 60px;
  margin-left: 120px;
  background-color: #f2f6f8;
  font-family: 'Cuprum', arial;
  font-size: 30px;
  line-height: 24px;
  text-transform: uppercase;
  color: #32425c;
  padding-top: 30px;
  padding-left: 30px;

}

.main
{
  width: 940px;
  margin-left: 120px;
  display: flex;
  flex-direction: row;
  margin-top: -30px;
}

.filtres
{
  width: 220px;
}

.main__servicies
{
  width: 700px;
  margin-left: 20px;
}

.filtres__catalog-sort
{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 700px;
  height: 40px;
  padding-top: 3px;
  background-color: #f7f3ec;
  border: none;
  margin-bottom: 18px;
}

.filtres__legend-sort
{
  width: 110px;
  padding-top: 50px;
  padding-left: 20px;
  font-family: 'PT Sans', arial;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000;
}

.filtres__catalog__list
{
  display: inline-flex;
  list-style-type: none;
  margin-top: -7px;

}

.filter__option a
{
  font-family: 'PT Sans', arial;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: #c4c1bb;
  text-decoration: none;
  border-bottom: 2px dotted #ee3643;
  margin-right: 60px;
}

.filter__option a:hover
{
  font-family: 'PT Sans', arial;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: #ee3643;
  text-decoration: none;
  border-bottom:none;
}

.filtres__catalog__button-up
{
  width: 11px;
  height: 10px;
  background: transparent url("../img/icon-up-dir.png") no-repeat center top;
  margin-top: -20px;
  margin-right: 25px;
  border: none;

}

.filtres__catalog__button-down
{
  width: 11px;
  height: 10px;
  background: transparent url("../img/icon-down-dir.png") no-repeat center top;
  margin-top: -20px;
  border: none;
}

.filtres__title
{
  width: 210px;
  height: 34px;
  background-color: #f7f3ec;
  font-family: 'PT Sans', arial;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  padding-top: 15px;
  padding-left: 18px;
  margin-top: 34px;
}

.filtres__price
{
  width: 220px;
  display: inline-flex;
  border:none;
}

.filtres__legend__price
{
  font-family: 'PT Sans', arial;
  font-size: 17px;
  line-height: 30px;
  font-weight: bold;
  color: #000;
  text-transform: uppercase;
  margin-left: -15px;
}

.filtres__slider
{
  width: 220px;
  margin-top: 22px;
  margin-bottom: 25px;
}

#slider {
    width: 180px;
}

.price__from
{
  width: 90px;
  height: 25px;
  background-color: #f7f3ec;
  font-family: 'PT Sans', arial;
  font-size: 17px;
  line-height: 18px;
  font-weight: normal;
  color: #000;
  margin-left: -10px;
  padding-top: 10px;
  text-align: center;
  border-radius: 4px;
  border: none;
  margin-top: 30px;
  margin-bottom: 25px;
}

.price__dash
{
  width: 90px;
  text-align: center;
  padding-top: 12px;
}

.price__till
{
  width: 85px;
  height: 25px;
  background-color: #f7f3ec;
  font-family: 'PT Sans', arial;
  font-size: 17px;
  line-height: 18px;
  font-weight: normal;
  color: #000;
  padding-top: 10px;
  align-items: center;
  text-align: center;
  border-radius: 4px;
  border:none;
  margin-top: 30px;
}

.ui-slider {
    position: relative;
}

.ui-slider .ui-slider-handle {
    position: absolute;
    z-index: 2;
    width: 21px;
    height: 21px;
    background: url(../img/filter-button-1.png) no-repeat;
    cursor: pointer
}

.ui-slider .ui-slider-range {
    position: absolute;
    z-index: 1;
    font-size: .7em;
    display: block;
    border: 0;
    overflow: hidden;
}

.ui-slider-horizontal {

     height: 3px; /* задаем высоту согласно дизайна */
}

.ui-slider-horizontal .ui-slider-handle {
    top: -5px;
    margin-left: -6px;
}

.ui-slider-horizontal .ui-slider-range {
    top: 0;
    height: 100%;
}

.ui-slider-horizontal .ui-slider-range-min {
    left: 0;
}
.ui-slider-horizontal .ui-slider-range-max {
    right: 0;
}

.ui-widget-content {
    border: 1px solid #D4D4D4;
    background: #d7dcde;
}

.ui-widget-header {
    border: 1px solid #D4D4D4;
    background: #00ca74;
}

.ui-corner-all {
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

.filtres__makers
{
  margin-top: 25px;
  border: none;
  border-top: 1px solid #e5e5e5;
}

.filtres__legend-makers
{
  font-family: 'PT Sans', arial;
  font-size: 17px;
  line-height: 18px;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 50px;
  margin-left: -10px;
}

.filtres__makers__list
{
  list-style-type: none;
  margin-left: -50px;
}

.filtres__makers__list__item
{
  font-family: 'PT Sans', arial;
  font-size: 15px;
  line-height: 20px;
  font-weight: normal;
  text-transform: uppercase;
  margin-top: 25px;
}

input[type="checkbox"] {
    display:none;
}

input[type="checkbox"] + label span{
    display:inline-block;
    width:23px;
    height:23px;
    margin-right: 10px;
    vertical-align:middle;
	  background: url(../img/checkbox-off.png) no-repeat;
    cursor:pointer;
}

input[type="checkbox"]:checked + label span{
    background:url(../img/checkbox-on.png) no-repeat;
}

.filtres__power
{
  margin-top: -20px;
  border: none;
  border-top: 1px solid #e5e5e5;
}

.filtres__legend-power
{
  font-family: 'PT Sans', arial;
  font-size: 17px;
  line-height: 18px;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 50px;
  margin-left: -10px;
}

.filtres__power__list
{
  list-style-type: none;
  margin-left: -50px;
}

.filtres__power__list__item
{
  font-family: 'PT Sans', arial;
  font-size: 15px;
  line-height: 20px;
  font-weight: normal;
  text-transform: uppercase;
  margin-top: 25px;
}

input[type="radio"] {
    display:none;
}

input[type="radio"] + label span{
    display:inline-block;
    width:23px;
    height:23px;
    margin-right: 10px;
    vertical-align:middle;
	  background: url(../img/checkbox-off.png) no-repeat;
    cursor:pointer;
}

input[type="radio"]:checked + label span{
    background:url(../img/checkbox-on.png) no-repeat;
}

.filter__button
{
  width: 140px;
  height: 36px;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  font-family: 'PT Sans', arial;
  font-size: 15px;
  line-height: 20px;
  font-weight: normal;
  margin-top: 78px;

}

.catalog-items-main
{
  width: 720px;
}

.catalog-item-main{
    position:relative;
    display:inline-block;
    width:225px;
    margin-right:15px;
    margin-bottom:20px;
    border:1px solid #ccc;
    line-height:20px;
    font-weight:bold;
    text-align:center;
}

.catalog-item-main:first-child{
    margin-right:22;
}
.catalog-item-main:nth-child(2n){
    margin-right:20;
}
.catalog-item-main:nth-child(3n){
    margin-right:0;
}

.catalog-items{
    font-size:0;
}
.catalog-item-main{
    font-size:16px;
}

.catalog-item-main .flag{
    position:absolute;
    top:-1px;
    right:-1px;
    width:60px;
    height:60px;
    text-indent:-1000px;
    overflow:hidden;
     z-index:20;
}
.catalog-item-main .flag-new{
    background:url("../img/new_flag.png") no-repeat 0 0;
}

.catalog-item-main .actions{
    position:absolute;
    top:0;
    left:0;
    width:218px;
    height:88px;
    padding:40px 0;
    background-color:rgba(255,255,255,0.9);
    z-index:10;
}

.catalog-item-main .actions .buy,
.catalog-item-main .actions .bookmark{
    display:block;
    width:129px;
    margin:0 auto;
    margin-bottom:7px;
    padding:7px 0;
    border:3px solid #63a63e;
    border-bottom-color:#367315;
    background-color:#63a63e;
    color:white;
    font-size:14px;
    font-weight:normal;
    font-family:"Cuprum", sans-serif;
    line-height:18px;
    text-decoration:none;
    text-transform:uppercase;
    border-radius:3px;
}

.catalog-item-main .actions .bookmark{
    color:#32425c;
    background:white;
    border-bottom-color:#63a63e;
}

.catalog-item-main .actions{
    display:none;
}

.catalog-item-main .actions{
    display:none;
}
.catalog-item-main:hover .actions{
    display:block;
}

.catalog-item-main .image{
    width:200px;
    height:168px;
}
.catalog-item-mainm .image img{
    max-width:100%;
}

.catalog-item-main .title{
    min-height:40px;
    padding:0 25px;
    margin-top:10px;
    margin-bottom:15px;
}
.catalog-item-main .discount{
    min-height:20px;
    margin-top:15px;
    margin-bottom:10px;
    color:#999;
    text-decoration:line-through;
}

.catalog-item-main .price{
    position:relative;
    width:80px;
    margin:10px auto;
    margin-bottom:20px;
    padding:10px 30px;
    color:white;
    background:#ee3643;
    border-radius:3px;
}

.catalog-item-main .price:after{
    content:"";
    position:absolute;
    top:0;
    right:-20px;
    width:0;
    height:0;
    border:20px solid white;
    border-left-color:#ee3643;
}

.pagination__list
{
  display: inline-flex;
  list-style-type: none;
  margin-left: -40px;
}

.pagination__list-item
{
  width: 37px;
  height: 27px;
  padding-top:10px;
  text-align: center;
  align-content: center;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  font-family: 'PT Sans', arial;
  font-size: 13px;
  line-height: 18px;
  font-weight: normal;
  margin-right: 10px;
}

.pagination__list-item-current
{
  width: 37px;
  height: 27px;
  padding-top:10px;
  text-align: center;
  align-content: center;
  background-color: #ee3643;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  margin-right: 10px;
  font-family: 'PT Sans', arial;
  font-size: 13px;
  line-height: 18px;
  font-weight: normal;
  color: white;
}

.pagination__list-item-next
{
  width: 140px;
  height: 27px;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  font-family: 'PT Sans', arial;
  font-size: 13px;
  line-height: 18px;
  font-weight: normal;
  text-transform: uppercase;
  text-align: center;
  align-content: center;
  margin-right: 10px;
  padding-top:10px
}

.pagination__list-item a
{
  color: #000;
  text-decoration: none;
}

.pagination__list-item-current a
{
  color: #fff;
  text-decoration: none;
}

.pagination__list-item a:hover
{
  color: #fff;
  text-decoration: none;
}

.pagination__list-item a:active
{
  color: #fff;
  text-decoration: none;
}

.about_instruments
{
  width: 1200px;
  height: 260px;
  background-color: #f2f6f8;
}

.about_instruments h2
{
  font-family: 'Cuprum', arial;
  font-size: 30px;
  line-height: 24px;
  color: #000;
  font-weight: normal;
  text-transform: uppercase;
  margin-left: 120px;
  padding-top: 62px;
}

.about_instruments p
{
  font-family: 'Cuprum', arial;
  font-size: 13px;
  line-height: 24px;
  color: #000;
  font-weight: normal;
  text-transform: uppercase;
  margin-left: 120px;
}

.breadcrumbs
{
  margin-left: 80px;
  margin-top: 22px;
  margin-bottom: 0px;
  list-style-type: none;
}

.breadcrumbs__item a
{
  font-family: 'Cuprum', arial;
  font-size: 13px;
  line-height: 24px;
  color: #000;
  margin-right: 17px;
  font-weight: normal;
  text-transform: uppercase;
  text-decoration: none;
}

.breadcrumbs__item-current
{
  font-family: 'Cuprum', arial;
  font-size: 13px;
  line-height: 24px;
  color: #000;
  font-weight: normal;
  text-transform: uppercase;
  text-decoration: none;
}

.breadcrumbs__img
{
  margin-right: 17px;
  margin-top: 6px;
}

@media screen and (max-width: 940px) {
   .inner
   {
     width: 100%;
   }


   .box__title
   {
     font-family: 'Cuprum', arial;
     font-size: 36px;
     font-style: normal;
     line-height: 24px;
     font-weight: 400;
     text-transform: uppercase;
     color: #32425c;
     margin-top: -5px;
     margin-left: 75px;
   }

   .box__p
   {
     width: 400px;
     font-family: 'PT Sans';
     font-size: 13px;
     font-style: normal;
     line-height: 24px;
     color: #000;
     margin-top: -15px;
     margin-left: 75px;
   }

   .box__img-delivery
   {
     margin-left: 243px;
     margin-top: -150px;
   }
 }
