body{
  background-color: #fff;
  margin: 0;
}

.main__container
{
  width: 100%;

}


.inner
{
  width: 940px;
  margin: 0 auto;
}

.container
{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  margin: 0 auto;

}


.header
{
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  justify-content: center;
  width: 100%;
  height: 42px;
  background: #293449;
}

.header:hover
{
  background: #212a3a;
  cursor: pointer;
}

.header__content
{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header-logo
{
  display: flex;
  justify-content: center;
}

.header-logo .logo
{
  order: 2;
  font-family: 'Cuprum', sans-serif;
  font-size: 24px;
  font-style: normal;
  text-transform: uppercase;
  color: #fff;
  background: #ee3643;
  padding-left: 55px;
  padding-right: 56px;
  z-index: 3;
  padding-top: 9px;
  padding-bottom: 7px;
  box-shadow: 0 6px 0 0 rgba(181,41,51,0.9);
}

.search
{
display: flex;
position: relative;
right: 30px;
}

.search__form
{
  width: 265px;
  height: 42px;
  display: flex;
  position: relative;
  right: 5px;
}

.search__form::after
{
  content: "";
  display: block;
  width: 20px;
  height: 18px;
  background-image: url('../img/icon-search_s.png');
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  top: 10px;
  right: 230px;
}

.search__form:hover:after
{
  content: "";
  display: block;
  width: 20px;
  height: 18px;
  background-image: url('../img/icon-search.svg');
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  top: 10px;
  right: 230px;
  z-index: 9999;
}

.search__form:active:after
{
  content: "";
  display: block;
  width: 20px;
  height: 18px;
  background-image: url('../img/icon-search.svg');
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  top: 10px;
  margin-right: 230px;
}

.search__form:focus-within::after
{
  content: "";
  display: block;
  width: 20px;
  height: 18px;
  background-image: url('../img/icon-search_focus.png');
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  top: 10px;
  right: 230px;
  z-index: 9999;
}

.search__form input#search
{
  width: 245px;
  background: #293449;
  justify-content: center;
  position: relative;
  font-family: 'Cuprum', sans-serif;
  font-size: 17px;
  font-style: normal;
  color: #fff;
  border: none;
  float: left;
  padding-left: 45px;
}

.search__form input#search:hover
{
  background-color: #212a3a;
  cursor: pointer;
  display: flex;
  justify-content: center;
  position: relative;
  font-family: 'Cuprum', sans-serif;
  font-size: 17px;
  font-style: normal;
  color: #fff;
  border: none;
}

.search__form input#search:active  {
  background-color: #212a3a;
  cursor: pointer;
  display: flex;
  justify-content: center;
  position: relative;
  font-family: 'Cuprum', sans-serif;
  font-size: 17px;
  font-style: normal;
  color: #fff;
  border: none;
}


.search__form input#search:focus  {
  background-color: #fff;
  cursor: pointer;
  display: flex;
  justify-content: center;
  position: relative;
  font-family: 'Cuprum', sans-serif;
  font-size: 17px;
  font-style: normal;
  color: #000;
  border: none;
  float: left;
  outline: none;
}



.blok-element
{
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-element
{
  position: relative;
}

.menu-element--bookmarklet
{
   position: relative;
   bottom: 6px;
   right: 20px;
}

.menu-element--bookmarklet::before
{
    content: "";
    display: block;
    width: 21px;
    height: 19px;
    background-image: url('../img/icon-bookmark.png');
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    top: 15px;
    right: 22px;
}

.menu-element:hover
{
      width: 14px;
      height: 16px;
      background-color: #293449;
      background-image: url('../img/icon-bookmark_pointer.png');
      position:relative;
      left: 0px;
      cursor: pointer;
      margin-top: 2px;
}

.menu-element:active
{
  width: 14px;
  height: 16px;
  background-color: #161d29;
  background-image: url('../img/icon_bookmark_active.png');
  position:relative;
  left: 0px;
  margin-top: 2px;
}


.menu-element--basket
{
   position: relative;
   bottom: 6px;
   left: 20px;
}

.menu-element--basket::before
{
    content: "";
    display: block;
    width: 22px;
    height: 19px;
    background-image: url('../img/cart-icon.png');
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    top: 15px;
    right: 24px;
}

.menu-element:hover
{
      background-image: url('../img/cart-icon-pointer.png');
      position:absolute;
      left: 0px;
      cursor: pointer;
      margin-top: 2px;

}

.menu-element:active
{

  background-image: url('../img/cart-icon-active.png');
  position:absolute;
  margin-right: 0px;

}


.menu-element:hover
{
      width: 15px;
      height: 15px;
      background-color: #293449;
      background-image: url('../img/cart-icon-pointer.png');
      position:absolute;
      left: 0px;
      cursor: pointer;
      margin-top: 2px;

}

.menu-element:active
{
      width: 15px;
      height: 15px;
      background-color: #293449;
      background-image: url('../img/cart-icon-active.png');
      position:absolute;
      margin-right: 0px;
      cursor: pointer;
      margin-top: 2px;

}

.menu-element__text
{
  font-family: 'Cuprum', sans-serif;
  font-size: 17px;
  font-style: normal;
  padding-left: 24px;
  color: #fff;
  position: relative;
  right: 15px;
  bottom: 3px;
}

.menu-element:active .menu-element__text
{
  font-family: 'Cuprum', sans-serif;
  font-size: 17px;
  font-style: normal;
  padding-left: 24px;
  color: #73777f;
  position: relative;
  right: 15px;
  bottom: 3px;
}

.menu-element__text span
{
  padding-left: 5px;
}

.menu-element__text span
{
  padding-left: 5px;
}


.order
{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  margin-left: -10px;
  background-color: #63a63e;
  font-family: 'Cuprum', sans-serif;
  padding-bottom: 5px;
  font-size: 17px;
  line-height: 18px;
  font-style: normal;
  color: #fff;
  display: flex;
  justify-content: center;
  padding-top: 13px;
  padding-bottom: 13px;
}

.order:hover
{
  background-color: #5fbb2d;
  cursor: pointer;
}

.company
{
  background-color: #f3f7f8;
}
.company__content
{
  margin-top: -20px;
}
.company__info
{
  display: flex;
  min-width: 100%;
  height: auto;
  margin-bottom: 19px;
}
.company__description
{
  width: 310px;
}

.description
{
  font-family: 'Cuprum', sans-serif;
  font-size: 16px;
  font-style: italic;
  line-height: 23px;
  font-weight: 700;
  color: #ee3643;
  padding-left: 55px;
  padding-top: 50px;
  padding-bottom: 20px;
}

.company__contacts
{
  width: 310px;
}

.phone
{
  width: 265px;
  height: 40px;
  margin-left: 20px;
  margin-top: 43px;
  border: 3px solid #fff;
  position: relative;
  display: flex;
  justify-content: center;
  top: 4px;
}

.phone__icon
{
  width: 19px;
  height: 19px;
  background-image: url('../img/icon-phone.svg');
  margin-top: 12px;
  margin-bottom: 15px;
  left: 10px;
  position: absolute;
  padding: 0;
}


.phone__number
{
  display: flex;
  align-items: center;
  font-family: 'Cuprum', arial;
  font-size: 21px;
  font-style: normal;
  color: #ee3643;
  border: none;
  background-color: inherit;
  position: relative;
  left: 10px;
}

.address
{
  font-family: 'Cuprum', arial;
  font-size: 14px;
  font-style: normal;
  color: #32425c;
  text-align: center;
  margin-left: 10px;
  margin-top: 10px;
}

.company__auth
{
  display: flex;
  flex-direction: row;
  margin-top: 45px;
}

.login
{
  width: 121px;
  height: 47px;
  background-color: #ffffff;
  border: none;
  position: relative;
  margin-bottom: 20px;
  margin-left: 60px;
}

.login__button_enter
{
  border:none;
  background-color: inherit;
  font-family: 'Cuprum', arial;
  font-size: 21px;
  font-style: normal;
  padding-left: 47px;
  padding-top: 12px;
}

.login__button_enter .login__button__img
{
  width: 20px;
  height: 17px;
  background-image: url('../img/icon-login.svg');
  position:absolute;
  margin-top: 3px;
  left: 12px;
}



.login__button_enter:hover .login__button__img
{
  cursor: pointer;
  background-image: url('../img/icon-login_hover.png');
  outline: none;
}

.login__button_enter:active .login__button__img
{
  cursor: pointer;
  background-image: url('../img/icon-login_active.png');
  outline: none;
}


.login__button_enter:hover
{
  color: #ee3643;
  cursor: pointer;
  outline: none;
}

.login__button_enter:active
{
  outline: none;
}

.login__button_enter:active
{
  color: #73777f;
  cursor: pointer;
  outline: none;
}



.login__button_enter:hover
{
  color: #ee3643;
  cursor: pointer;
  outline: none;
}

.login__button_enter:active
{
  outline: none;
}

.login__button_enter:active
{
  color: #73777f;
  cursor: pointer;
  outline: none;
}


.login__button_enter:hover
{
  color: #ee3643;
  cursor: pointer;
  outline: none;
}

.login__button_enter:active
{
  outline: none;
}

.login__button_enter:active
{
  color: #73777f;
  cursor: pointer;
  outline: none;
}

.reg__button_enter
{
  width: 150px;
  background-color: #ffffff;
  border: none;
  font-family: 'Cuprum', arial;
  font-size: 21px;
  font-style: normal;
  margin-left: 10px;
  padding-top: 12px;
  padding-bottom: 11px;
}

.reg__button_enter:hover
{
  color: #ee3643;
  cursor: pointer;
  outline: none;
}


.reg__button_enter:active
{
  color: #73777f;
  cursor: pointer;
  outline: none;
}


.main__navigation
{
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  background-color: #32425c;
  margin-bottom: 60px;
  border-bottom: 5px solid #293449;
}

.nav
{
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.nav__item
{
  flex-grow: 1;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.nav__item:hover
{
  background-color: #293449;
}

.nav__item:active
{
  background-color: #1d2739;
  color: #a8abaf;
}


.nav__item:first-child a
{
  flex-grow: 1;
  display: flex;
  justify-content: center;
  padding-left: 23px;
}

.nav__item:last-child a
{
  flex-grow: 1;
  display: flex;
  justify-content: center;
  padding-right: 25px;
}



.nav__item a
{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Cuprum', arial;
  font-size: 17px;
  line-height: 17px;
  font-weight: 400;
  font-style: normal;
  color: #ffffff;
  text-decoration: none;
  padding-top: 20px;
  padding-bottom: 18px;
}

.categories
{
  display: flex;
}

.shop-card-all
{
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;
  margin-top: 58px;
  margin-left: -40px;
}



.shop-card-materials
{
  width: 300px;
  height: 123px;
  background-color: #ffbf47;
  position: relative;
}

.shop-card-tools
{
  width: 300px;
  height: 123px;
  background-color: #3bbce3;
  position: relative;
  margin-left: 10px;
}


.shop-card-technic
{
  width: 300px;
  height: 123px;
  background-color: #dc91d8;
  position: relative;
  margin-left: 10px;
}

.shop-card-benefits
{
  width: 300px;
  height: 123px;
  background-color: #8ed78f;
  position: relative;
  margin-left: -5px;
  margin-bottom: 20px;
  margin-top: 5px;
}

.shop-card-coupon
{
  width: 300px;
  height: 123px;
  background-color: #ffc047;
  position: relative;
  margin-left: -5px;
}

.shop-card__img
{
  position:absolute;
  left: 215px;
  bottom: 30px;
}

.shop-card__img-tools
{
  left: 195px;
  bottom: 32px;
}

.shop-card__img-technic
{
  left: 190px;
  bottom: 32px;
}

.shop-card__img-benefits
{
  left: 195px;
  bottom: 25px;
}

.shop-card__img-coupon
{
  left: 190px;
  bottom: 25px;
}

.shop-card__title
{
  width: 150px;
  height: 10px;
  font-family: 'Cuprum', arial;
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  margin-left: 22px;
  margin-top: 22px;
  margin-bottom: 30px;
}

.shop-card__img-coupon
{
  padding-top: 20px;
}

.shop-card__link
{
  border: none;
  font-family: 'Cuprum', arial;
  font-size: 14px;
  font-style: normal;
  color: #fff;
  background-color:rgba(0,0,0, 0.1);
  border-radius: 3px;
  text-transform: uppercase;
  line-height: 40px;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  margin-left: 25px;
  margin-top: 5px;
  margin-bottom:15px;
}

.shop-card__link:hover
{
    background-color:rgba(0,0,0, 0.2);
    cursor: pointer;
}

.shop-card__link:active
{
  background-color:rgba(0,0,0, 0.3);
  cursor: pointer;
}

.shop-card__link-tools
{

}

.shop-card-all
{
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;
  margin-top: 58px;
  margin-left: -40px;
}



.shop-card-materials
{
  width: 300px;
  height: 123px;
  background-color: #ffbf47;
  position: relative;
}

.shop-card-tools
{
  width: 300px;
  height: 123px;
  background-color: #3bbce3;
  position: relative;
  margin-left: 10px;
}


.shop-card-technic
{
  width: 300px;
  height: 123px;
  background-color: #dc91d8;
  position: relative;
  margin-left: 10px;
}

.shop-card-benefits
{
  width: 300px;
  height: 123px;
  background-color: #8ed78f;
  position: relative;
  margin-left: -5px;
  margin-bottom: 20px;
  margin-top: 5px;
}

.shop-card-coupon
{
  width: 300px;
  height: 123px;
  background-color: #ffc047;
  position: relative;
  margin-left: -5px;
}

.shop-card__img
{
  position:absolute;
  left: 215px;
  bottom: 30px;
}

.shop-card__img-tools
{
  left: 195px;
  bottom: 32px;
}

.shop-card__img-technic
{
  left: 190px;
  bottom: 32px;
}

.shop-card__img-benefits
{
  left: 195px;
  bottom: 25px;
}

.shop-card__img-coupon
{
  left: 190px;
  bottom: 25px;
}

.shop-card__title
{
  width: 150px;
  height: 10px;
  font-family: 'Cuprum', arial;
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  margin-left: 22px;
  margin-top: 22px;
  margin-bottom: 30px;
}

.shop-card__img-coupon
{
  padding-top: 20px;
}

.shop-card__link
{
  border: none;
  font-family: 'Cuprum', arial;
  font-size: 14px;
  font-style: normal;
  color: #fff;
  background-color:rgba(0,0,0, 0.1);
  border-radius: 3px;
  text-transform: uppercase;
  line-height: 40px;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  margin-left: 25px;
  margin-top: 5px;
  margin-bottom:15px;
}

.shop-card__link:hover
{
    background-color:rgba(0,0,0, 0.2);
    cursor: pointer;
}

.shop-card__link:active
{
  background-color:rgba(0,0,0, 0.3);
  cursor: pointer;
}

.shop-card__link-tools
{
  padding-left: 27px;
  padding-right: 27px;
  padding-top: 10px;
  padding-bottom: 10px;
  align-items: center;
}

.shop-card__link-technic
{
  padding-left: 27px;
  padding-right: 31px;
  padding-top: 10px;
  padding-bottom: 10px;
  align-items: center;
}

.shop-card__link-coupon
{
  border: none;
  font-family: 'Cuprum', arial;
  font-size: 14px;
  font-style: normal;
  color: #fff;
  background-size: 135px 40px;
  background-color:rgba(0,0,0, 0.1);
  border-radius: 3px;
  text-transform: uppercase;
  line-height: 40px;
  padding-left: 35px;
  padding-right: 35px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 25px;
  margin-bottom:10px;
  align-items: center;
}

.shop-card__link-benefits
{
  padding-left: 23px;
  padding-right: 23px;
  padding-top: 13px;
  padding-bottom: 13px;
  align-items: center;
}


.slider__blok
{
  display: flex;
  flex-direction: row;
  margin-bottom: 35px;
}

.shop__slider
{
  display: flex;
  flex-direction: column;
  width: 620px;
  height: 270px;
  background-color: #ffbf47;
  margin-top: 12px;
}


.main_slider{
    position:relative;
    width:620px;
    height:275px;
    margin:0 auto;
    margin-top: 10px;
    margin-left: -1px;
    overflow: hidden;
}
.main_slider input[type=radio] {
    position:absolute;
    opacity:0;
}
.slider-controls{
    position:absolute;
    bottom:95px;
    left:50%;
    width:200px;
    height:10px;
    margin-left:-100px;
    text-align:center;
    z-index:1000;
}
.slider-controls label{
    display:inline-block;
    width:7px;
    height:7px;
    margin:0 3px;
    background:#fff;
    border:3px solid white;
    vertical-align:top;
    border-radius:50%;
    cursor:pointer;
    margin-top: 65px;
}
#btn-1:checked ~ .slider-controls label[for="btn-1"],
#btn-2:checked ~ .slider-controls label[for="btn-2"]{
    background:#ee3643;
}

.slide{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    overflow:hidden;
}
.slide__text{
    width:380px;
    padding:30px 0;
    color:#283136;
}

.slide__title{
    font-family: 'Cuprum', arial;
    font-size:36px;
    line-height:1;
    font-weight:bold;
    color:#fff;
    text-transform: uppercase;
    margin-left: 30px;
}

.slide__description{
    font-family: 'Cuprum', arial;
    font-size:18px;
    width:380px;
    color:#fff;
    margin-left: 30px;
    margin-top: 5px;
}

.slide__btn{
    display:block;
    width:195px;
    padding-top:10px;
    padding-bottom: 10px;
    margin-top:127px;
    margin-left: 27px;
    font-family: 'Cuprum', arial;
    font-size:14px;
    font-weight: 400;
    font-style: normal;
    color:white;
    text-transform:uppercase;
    text-align:center;
    text-decoration:none;
    background:#fb565a;
    border-radius:3px;
}

.slide__btn:hover
{
  background-color: #ca2c37;
}

.slide__btn:active
{
  background-color: #ba2732;
}

.slide:nth-child(1){
    background-image:url('../img/slide_1.png');
    background-repeat:no-repeat;
    background-position:100% 10px;
}
.slide:nth-child(2){
    background-image:url('../img/slide_2.png');
    background-repeat:no-repeat;
    background-position:100% 10px;
}
.slide{
    display:none;
}
#btn-1:checked ~ .slides .slide:nth-child(1) {
    display: block;
}
#btn-2:checked ~ .slides .slide:nth-child(2) {
    display: block;
}

.slider__arrow{
    position: absolute;
    width: 22px;
    height: 40px;
    top: 46%;
    transition: 0.3s ease;
    z-index:1000;
}

.slider__arrow-left{
  width: 22px;
  height: 40px;
    background-image: url('../img/icon-left.png');
    margin-left: 24px;
    left: 20px;
    opacity: 1;
    cursor: pointer;
    transition: 0.3s ease;
 }

.slider__arrow-right{
  width: 22px;
  height: 40px;
  background-image: url('../img/icon-right.png');
  margin-left: 580px;
  margin-top: -40px;
  right: 20px;
  opacity: 1;
  cursor: pointer;
  transition: 0.3s ease;
}

.shop_benefits
{
  width: 310px;
  margin-top: -2px;
}

.benefits
{
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin-left: -25px;
}

.catalog-items{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    margin:20px auto;
}

.catalog-item{
    position:relative;
    display:inline-block;
    margin-right:15px;
    border:1px solid #ccc;
    line-height:20px;
    font-weight:bold;
    text-align:center;
}

.catalog-item:hover
{
 border: 1px solid #ccc;
 box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);
}

.catalog-item:hover img
{
opacity: 0.0;
}

.catalog-item:first-child{
    margin-right:22px;
}
.catalog-item:nth-child(2n){
    margin-right:20px;
}
.catalog-item:nth-child(3n){
    margin-right:20px;
}

.catalog-item:nth-child(4n)
{
  margin-right: 0px;
}

.catalog-items{
    font-size:0;
}
.catalog-item{
    font-size:16px;
}

.catalog-item .flag{
    position:absolute;
    top:-1px;
    right:-1px;
    width:60px;
    height:60px;
    text-indent:-1000px;
    overflow:hidden;
     z-index:20;
}
.catalog-item .flag-new{
    background:url("../img/new_flag.png") no-repeat 0 0;
}

.catalog-item__actions{
    position:absolute;
    top:0;
    left:0;
    width:218px;
    height:88px;
    padding:45px 0;
    background-color:rgba(255,255,255,0.9);
    z-index:10;
}

.catalog-item__actions .buy
{
  display:block;
  width:132px;
  margin:0 auto;
  margin-bottom:7px;
  padding:9px 0;
  padding-bottom: 6px;
  background-color:#63a63e;
  color:white;
  font-size:14px;
  font-weight:normal;
  font-family:"Cuprum", sans-serif;
  line-height:18px;
  text-decoration:none;
  text-transform:uppercase;
  border-radius:3px;
  box-shadow: 0 3px 0 0 rgba(54,115,21,0.9);
}

.catalog-item__actions .bookmark{
    display:block;
    width:126px;
    margin:0 auto;
    margin-bottom:7px;
    padding:6px 0;
    border: 3px solid #63a63e;
    color:white;
    font-size:14px;
    font-weight:normal;
    font-family:"Cuprum", sans-serif;
    line-height:18px;
    text-decoration:none;
    text-transform:uppercase;
    border-radius:3px;
}

.buy__img
{
  width: 15px;
  height: 15px;
  background: transparent;
  background-image: url('../img/cart-icon.png');
  position: absolute;
  left: 55px;
  border: none;
}

.catalog-item__actions:hover .buy
{
    background-color:#5fbb2d;
    cursor: pointer;
}

.catalog-item__actions:hover .buy__img
{
  width: 15px;
  height: 15px;
  background: transparent;
  background-image: url('../img/cart-icon-pointer.png');
  position: absolute;
  left: 55px;
}

.catalog-item__actions:active .buy
{
    background-color:#518534;
    border-bottom:3px solid #518534;

}

.catalog-item__actions .bookmark{
    color:#32425c;
    background:white;
    border-bottom-color:#63a63e;
}

.catalog-item__actions:hover .bookmark{
    color:#32425c;
    background:white;
    border:3px solid #32425c;
}

.catalog-item__actions:active .bookmark{
    color:#c1c6ce;
    background:white;
    border:3px solid #c1c6ce;
}

.catalog-item__actions{
    display:none;
}

.catalog-item__actions{
    display:none;
}
.catalog-item:hover .catalog-item__actions {
    display:block;
}

.catalog-item__image{
    width:218px;
    height:168px;
}
.catalog-item__image img{
    max-width:100%;
}

.catalog-item__title{
    min-height:40px;
    padding:0 25px;
    margin-top:10px;
    margin-bottom:15px;
}
.catalog-item__discount{
    min-height:20px;
    margin-top:15px;
    margin-bottom:10px;
    color:#999;
    text-decoration:line-through;
}

.catalog-item__price{
    position:relative;
    width:80px;
    margin:10px auto;
    margin-bottom:20px;
    padding:10px 30px;
    color:white;
    background:#ee3643;
    border-radius:3px;
}

.catalog-item__price:after{
    content:"";
    position:absolute;
    top:0;
    right:-20px;
    width:0;
    height:0;
    border:20px solid white;
    border-left-color:#ee3643;
}

.section__field
{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #f9f5f0;
}

.section__title
{
  font-family: 'Cuprum', sans-serif;
  font-size: 30px;
  font-weight: 400;
  text-transform: uppercase;
  color: #32425c;
  margin-left: 30px;
  padding-top: 5px;
}

.section__title-makers
{
  margin-left: 25px;
  padding-top: 0px;
}

.section__button
{
  width: 254px;
  height: 38px;
  border: none;
  background-color: #ee3643;
  font-family: 'Cuprum', arial;
  font-size: 14px;
  font-style: normal;
  color: #fff;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 23px;
  margin-top: 27px;
  margin-bottom: 20px;
  border-radius: 3px;
  padding-top: 1px;
  cursor: pointer;

}

.section__button:hover
{
  background-color: #ca2c37;
}

.section__button:active
{
  background-color: #ca2c37;
}


.section__field
{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #f9f5f0;
}

.section__title
{
  font-family: 'Cuprum', sans-serif;
  font-size: 30px;
  font-weight: 400;
  text-transform: uppercase;
  color: #32425c;
  margin-left: 30px;
  padding-top: 5px;
}

.section__title-makers
{
  margin-left: 25px;
  padding-top: 0px;
}

.section__button
{
  width: 254px;
  height: 38px;
  border: none;
  background-color: #ee3643;
  font-family: 'Cuprum', arial;
  font-size: 14px;
  font-style: normal;
  color: #fff;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 23px;
  margin-top: 27px;
  margin-bottom: 20px;
  border-radius: 3px;
  padding-top: 1px;
  cursor: pointer;

}

.section__button:hover
{
  background-color: #ca2c37;
}

.section__button:active
{
  background-color: #ba2732;
}

.section__button-makers
{
    margin-top: 20px;
}

.section__button-makers:hover
{
  background-color: #ca2c37;
}

.section__button-makers:active
{
  background-color: #ba2732;
}

.section__button-makers
{
    margin-top: 20px;
}

.section__button-makers:hover
{
  background-color: #ca2c37;
}

.section__button-makers:active
{
  background-color: #ba2732;
}

.makers
{
  display: flex;
  flex-direction: row;
  height: 89px;
  background-color: #f9f5f0;
}

.makers__list
{
  margin-left: -40px;
  justify-content: space-between;
}


.makers__list-item{

    position:relative;
    display:inline-flex;
    width:218px;
    height: 145px;
    margin-bottom:20px;
    margin-right: 15px;
    border:1px solid #ccc;
    line-height:20px;
    font-weight:bold;
    text-align:center;
    justify-content: center;
    align-items: center;
    vertical-align: top;
    top: 5px;

}
.makers__list-item:hover
{
  border: 1px solid #ccc;
  box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);
}

.makers__list-item:active
{
  opacity: 0.5;
  border: 1px solid #ccc;
  box-shadow: 0 0 5px 5px rgba(221, 221, 221, 1);
}

.makers__list-item:nth-child(4n) {
    margin-right: 0px;
}

.makers__list-item img
{
  align-self: center;
}

.operations
{
  background-color: #f4f8f9;
  margin-bottom: 5px;
  margin-top: 47px;
}

.service
{
  width: 940px;
  margin: 0 auto;
}

.service__title
{
  font-family: 'Cuprum', arial;
  font-size: 30px;
  font-style: normal;
  line-height: 24px;
  font-weight: 400;
  text-transform: uppercase;
  color: #000;
  margin-top: 75px;
}

.service__description
{
  font-family: 'PT Sans';
  font-size: 13px;
  line-height: 24px;
  font-style: normal;
  font-weight: 500;
  color: #000;
  margin-bottom: 75px;

}

#container
{
  width: 940px;
  margin-top: 25px;
}

.tabs {
  padding: 0px;
  margin: 0 auto;
  position: relative;
  margin-bottom: 130px;
}

.vertival_tabs {
  display: none;
  padding: 15px;
  background: white;
  position: absolute;
  top: 0;
  left: 255px;
  width: 550px;
  display: none;
  border-width: 0 1px 1px;
  background: #f4f8f9;
  padding: 0 12px;
}

.box__title
{
  font-family: 'Cuprum', arial;
  font-size: 36px;
  font-style: normal;
  line-height: 24px;
  font-weight: 400;
  text-transform: uppercase;
  color: #32425c;
  margin-top: -5px;
  margin-left: 55px;
}

.box__p
{
  font-family: 'PT Sans';
  font-size: 13px;
  font-style: normal;
  line-height: 24px;
  color: #000;
  margin-top: -15px;
  margin-left: 55px;
}

.box__img-delivery
{
  margin-left: 205px;
  margin-top: -130px;
}

.box__img-garant
{
  margin-left: 295px;
  margin-top: -185px;
}

.box__img-credit
{
  margin-left: 215px;
  margin-top: -170px;
}

.box__button
{
  width: 195px;
  height: 35px;
  border: none;
  background-color: #ff5357;
  font-family: 'Cuprum', arial;
  font-size: 14px;
  font-style: normal;
  color: #fff;
  text-transform: uppercase;
  margin-top: 25px;
  margin-left: 55px;
}
p {
  margin: 0;
}
.tabs input {
  display: none;
}

.tabs label {
  display: block;
  width: 220px;
  color: #fff;
  font-family: 'Cuprum', arial;
  font-size: 21px;
  font-weight: bold;
  line-height: 30px;
  background-color: #32425c;
  padding-left: 25px;
  padding-top: 12px;
  padding-bottom: 12px;
  border-bottom: 1px solid #4d637b;
  box-shadow: inset -15px 0 15px  -15px #000;
}


.tabs input:checked + label {
  color: #555;
  width: 220px;
  background: white;
  padding-left: 25px;
  padding-top: 12px;
  padding-bottom: 12px;
}
#tab1:checked ~ #content1, #tab2:checked ~ #content2, #tab3:checked ~ #content3, #tab4:checked ~ #content4 {
  display: block;
}
.vertival_tabs {
  animation: scale 0.7s ease-in-out;
}
@keyframes scale {
  0% {
  transform: scale(0.9);
  opacity: 0;
  }
  50% {
  transform: scale(1.005);
  opacity: 0.5;
  }
  100% {
  transform: scale(1);
  opacity: 1;
  }
}

.office
{
  display: flex;
  flex-direction: row;
  margin-bottom: 76px;
  margin-top: 50px;
}

.office__title
{
  font-family: 'Cuprum', arial;
  font-size: 30px;
  font-style: normal;
  line-height: 25px;
  font-weight: 400;
  text-transform: uppercase;
  color: #000;
  margin-top: 8px;
}

.office__description
{
  width: 530px;
  padding-top: 4px;
  font-family: 'PT Sans', arial;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  font-style: normal;
}

.office__ul
{
  margin-left: -40px;
  margin-top: 20px;
  margin-bottom: 35px;
}

.office__ul li
{
  font-family: 'Cuprum', arial;
  font-size: 18px;
  font-style: normal;
  color: #000;
  list-style: none;
  background: url("../img/marker_li.png") no-repeat left 50%;
  padding-left: 35px;
  margin-bottom: 20px;
}

.section__button-office
{
  width: 220px;
  margin-top: 15px;
}

.section__button-contact a
{
  text-decoration: none;
  color: #fff;
}

.modalDialog {
	position: fixed;
	font-family: 'Cuprum', arial;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	display: none;
	pointer-events: none;
}

.modalDialog:target {
	display: block;
	pointer-events: auto;
}

.modalDialog > div {
	width: 620px;
  height: 420px;
	position: relative;
	margin: 10% auto;
  border-top: 8px solid #ee3643;
	padding: 5px 20px 13px 20px;
	background: #fff;
	background: -moz-linear-gradient(#fff);
	background: -webkit-linear-gradient(#fff);
	background: -o-linear-gradient(#fff);
}

.close {
	background: #FFFFFF;
	color: #6a7180;
	line-height: 25px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
	width: 20px;
	text-decoration: none;
	font-weight: normal;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 20px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}

.close:hover { background: #FFFFFF; }


fieldset.modal__fieldset
{
  width: 220px;
  border: none;
}

.username_all
{
  width: 460px;
  display: flex;
  flex-direction: row;
  margin-top: 45px;
  margin-bottom: 30px;
}

#contact input {
  font-family: 'PT Sans', arial;
  font-size: 12px;
  color: #000;
  width:260px;
  border:2px solid #CCC;
  background:#FFF;
  margin:0 0 5px;
  padding:10px;
  margin-top: 10px;
}

 #contact textarea
 {
  font-family: 'PT Sans', arial;
   font-size: 12px;
   color: #000;
   width:570px;
   border:2px solid #CCC;
   background:#FFF;
   margin:0 0 5px;
   padding:10px;
   margin-bottom: 25px;
   margin-top: 10px;
 }


#contact input[type="text"]:hover, #contact input[type="email"]:hover, #contact input[type="tel"]:hover, #contact input[type="url"]:hover, #contact textarea:hover {
  -webkit-transition:border-color 0.3s ease-in-out;
  -moz-transition:border-color 0.3s ease-in-out;
  transition:border-color 0.3s ease-in-out;
  border:2px solid #414146;
  cursor: pointer;
}

#contact input[type="text"]:active, #contact input[type="email"]:active, #contact input[type="tel"]:active, #contact input[type="url"]:active, #contact textarea:active {
  -webkit-transition:border-color 0.3s ease-in-out;
  -moz-transition:border-color 0.3s ease-in-out;
  transition:border-color 0.3s ease-in-out;
  border:2px solid #606060;
  cursor: pointer;
}

#contact textarea {
  height:100px;
  max-width:100%;
  resize:none;
}

#contact button[type="submit"] {
  font-family: 'PT Sans', arial;
  font-size: 16px;
  cursor:pointer;
  width:50%;
  border:none;
  background:#414146;
  border-bottom: 4px solid #000;
  color:#FFF;
  margin:0 0 5px;
  padding:10px;
  font-size:15px;
  text-transform: uppercase;
  border-radius: 5px;
  margin-top: 15px;
  padding-bottom: 6px;

}

#contact button[type="submit"]:hover {
  background: #ffea00;
  color: #000;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  transition:background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active { box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.5); }

#contact input:focus, #contact textarea:focus {
  outline:0;
  border:2px solid #999;
}

.modal__button
{
  background-color: #f1f1f1;
  padding-top: 40px;
  padding-bottom: 40px;
  width: 660px;
  margin-left: -20px;
}

.section__button-modal
{
  width: 460px;
  height: 40px;
  margin:0 auto;
}

.office__contact
{
  margin-left: 110px;
}

.contacts__company
{
  margin-left: 110px;
}

.contacts__title
{
  font-family: 'Cuprum', arial;
  font-size: 30px;
  font-style: normal;
  text-transform: uppercase;
  line-height: 25px;
  font-weight: 400;
  color: #000;
  margin-top: 8px;
}

.contacts__description
{
  font-family: 'PT Sans', arial;
  font-size: 13px;
  line-height: 24px;
  font-style: normal;
  padding-top: 2px;
}

.section__button-contact
{
  width: 300px;
  margin-top:25px;
}

.footer
{
  display: flex;
  flex-direction: column;
}

.footer__logo
{
  width: 220px;
  height: 70px;
  margin-bottom: 30px;
}

.footer__logo .logo
{
order: 2;
font-family: 'Cuprum', sans-serif;
font-size: 30px;
font-style: normal;
text-transform: uppercase;
color: #fff;
background: #ee3643;
padding-left: 40px;
padding-right: 50px;
margin-bottom: -6px;
z-index: 3;
padding-top: 20px;
padding-bottom: 10px;
border-bottom: 6px solid #b52933;
}

.footer__navigation
{
  height: 190px;
  background-color: #32425c;
}

.footer__navigation-logo
{
  height: 70px;
}

.footer__navigation-p
{
  font-family: 'Cuprum', arial;
  font-size: 18px;
  line-height: 24px;
  font-style: normal;
  color: #fff;
}


.menu__top
{
  width: 600px;
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  margin-left: 325px;
  margin-top: -105px;
}

.menu__top li a
{
  font-family: 'Cuprum', arial;
  font-size: 18px;
  text-decoration: none;
  color: #fff;
}

.menu__top li:hover a
{
  border-bottom: 2px solid #fff;
}

.menu__top li:active a
{
  opacity: 0.5;
  border: none;
}

.menu__bottom
{
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  margin-left: 350px;
  margin-top: 35px;
}

.menu__bottom li a
{
  font-family: 'Cuprum', arial;
  font-size: 18px;
  text-decoration: none;
  color: #ffd180;
}

.menu__bottom li:hover a
{
  border-bottom: 2px solid #ffd180;
}

.menu__bottom li:active a
{
  opacity: 0.5;
  border: none;
}

.footer__bottom
{
  background-color: #293449;
  display: flex;
  flex-direction: row;

}

.footer__container
{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  vertical-align: top;
  align-items: center;
}

.footer__address
{
  font-family: 'Cuprum', arial;
  font-size: 16px;
  line-height: 18px;
  color: #fff;
  font-style: normal;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  margin-top: 45px;
  margin-right: 30px;
}

.social
{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 35px;
}

.social-li
{
  display: inline-block;
  text-decoration: none;
  background: #212a3a;
  width: 40px;
  height: 40px;
  border-radius: 30px;
  margin-right: 5px;
}

.social-li img
{
  padding-top: 12px;
  padding-left: 5px;
}

.social-li-fb img
{
    padding-left: 15px;
    padding-top: 10px;
}

.social-li-insta img
{
    padding-left: 10px;
    padding-top: 10px;
}

.social-li:hover
{
  background: #ee3643;
}

.footer__feedback
{
  font-family: 'Cuprum', arial;
  font-size: 16px;
  line-height: 18px;
  color: #fff;
  font-style: normal;
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;

}

.footer__feedback span a
{
  color: #ffd180;
  text-decoration: none;
}

.footer__feedback:hover span a
{
  color: #ffd180;
  text-decoration:underline;
}

.footer__feedback:active span a
{
  color: #ee3643;
  text-decoration:none;
}


.footer__dev
{
  font-family: 'Cuprum', arial;
  font-size: 16px;
  line-height: 18px;
  color: #fff;
  font-style: normal;
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
}

.footer__dev span a
{
  color: #ffd180;
    text-decoration: none;
}

.footer__dev:hover span a
{
  color: #ffd180;
  text-decoration:underline;
}

.footer__dev:active span a
{
  color: #ee3643;
  text-decoration:none;
}

/* Catalog */

.breadcrumbs
{
  display: inline-flex;
}

.catalog__title
{
  width: 910px;
  background-color: #f2f6f8;
  font-family: 'Cuprum', arial;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: #32425c;
  padding-top: 25px;
  padding-bottom: 30px;
  padding-left: 30px;
  margin-bottom: 20px;
  font-weight: normal;
}

.menu-element__catalog--bookmarklet
{
   width: 115px;
   position: relative;
   bottom: 6px;
   left: 15px;
}

.menu-element__catalog--bookmarklet::before
{
    content: "";
    display: block;
    width: 21px;
    height: 19px;
    background-image: url('../img/icon-bookmark.png');
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    top: 15px;
    right: 22px;
}

.menu-element-basket--active
{
  background-color: #ee3643;
  height: 40px;
  width: 150px;
  margin-left: 17px ;
  padding-top: 2px;
}

.menu-element__text--active
{
  padding-top: 12px;
  position: relative;
  left: 20px;
}

.menu-element__img-basket--active::before
{
    content: "";
    display: block;
    width: 15px;
    height: 15px;
    background-color: #ee3643;
    background-image: url('../img/cart-icon.png');
    position: absolute;
    left: 0px;
    border: none;
}

.company__catalog
{
  position: relative;
  padding-top:20px;
}

.client
{
  width: 300px;
  height: 45px;
  background-color: #fff;
  margin-top: 43px;
  margin-left: 45px;
}

.client__name
{
  font-family: 'Cuprum', arial;
  font-size: 21px;
  line-height: 18px;
  color: #000;
  padding-top: 10px;
  position: relative;
  bottom: 15px;
  left: 45px;
}

.client__name a
{
  text-decoration: none;
  color: #000;
}

.client__name::before
{
    content: "";
    display: block;
    width: 20px;
    height: 18px;
    background-color: #fff;
    background-image: url('../img/icon-user.png');
    position: relative;
    right: 30px;
    top:17px;
    border: none;
}

.client__name::after
{
    content: "";
    display: block;
    width: 20px;
    height: 17px;
    background-color: #fff;
    background-image: url('../img/icon-login_active.png');
    position: relative;
    left: 230px;
    bottom: 17px;
    border: none;
}

.client__reg
{
  width: 300px;
  display: flex;
  margin-left: 45px;
  margin-top: 10px;
}

.client__choise
{
  margin-left: 16px;
  font-family: 'Cuprum', arial;
  font-size: 16px;
  line-height: 18px;
  color: #32425c;
  border-bottom: 1px solid #32425c;

}

.client__choise a
{
  text-decoration: none;
  color: #32425c;
}

.client__choise a:hover
{
  color: #ee3643;
  padding-bottom: 5px;
  border-bottom: 1px solid #ee3643;
}

.client__choise a:active
{
  color: #c5c5c5;
  padding-bottom: 5px;
  border-bottom: 1px solid #c5c5c5;
}

.client__choise::after
{
    content: "";
    display: block;
    width: 4px;
    height: 5px;
    background-color: #fff;
    background-image: url('../img/Shape_1.png');
    position: relative;
    left: 92px;
    bottom: 12px;
    border: none;
}

.client__lk
{
  width: 105px;
  margin-left: 40px;
  font-family: 'Cuprum', arial;
  font-size: 16px;
  line-height: 18px;
  color: #32425c;
  border-bottom: 1px solid #32425c;
}

.client__lk a
{
  text-decoration: none;
  color: #32425c;
}

.client__lk a:hover
{
  color: #ee3643;
  padding-bottom: 5px;
  border-bottom: 1px solid #ee3643;
}

.client__lk a:active
{
  color: #c5c5c5;
  padding-bottom: 5px;
  border-bottom: 1px solid #c5c5c5;
}

.main
{
  display: flex;
  flex-direction: row;
  margin-top: -30px;
}

.filtres
{
  width: 220px;
}

.main__servicies
{
  width: 700px;
  margin-left: 20px;
  margin-top: 20px;
}

.filtres__catalog
{
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  min-height: 33px;
  background-color: #f7f3ec;
  border-radius: 3px;
  margin-bottom: 10px;
  padding-left: 20px;
}

.filtres__catalog__list
{
  display: flex;
  flex-direction: row;
  list-style-type: none;
  height: 40px;
}

.filtres__catalog p,
.filtres__catalog ul,
.filtres__catalog a{
  margin: 0;
  padding: 0;
}

.filter__sort
{
  font-family: 'PT Sans', arial;
  font-size: 13px;
  line-height: 18px;
  padding-top: 12px;
  text-transform: uppercase;
  color: #000;
  flex-grow: 2;
  padding-right: 130px;
  font-weight: bold;
}

.filtres__catalog-items
{
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
}

.filter__option
{
  padding-top: 11px;
}

.filter__option a
{
  font-family: 'PT Sans', arial;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: #c4c1bb;
  text-decoration: none;
  border-bottom: 2px dotted #ee3643;
  margin-right: 62px;
  padding-top: 12px;
}

.filter__option a:hover
{
  font-family: 'PT Sans', arial;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: #ee3643;
  text-decoration: none;
  border-bottom:none;
}

.filtres__catalog__button-up
{
  width: 11px;
  height: 10px;
  background: transparent url("../img/icon-up-dir.png") no-repeat center top;
  margin-right: 25px;
  border: none;
  margin-right: 18px;
  margin-top: 17px;

}

.filtres__catalog__button-down
{
  width: 11px;
  height: 10px;
  background: transparent url("../img/icon-down-dir.png") no-repeat center top;
  border: none;
  margin-right: 18px;
  margin-top: 17px;
}

.filtres__title
{
  width: 205px;
  background-color: #f7f3ec;
  font-family: 'PT Sans', arial;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 18px;
  margin-top: 20px;
}

.filtres__price
{
  width: 220px;
  display: inline-flex;
  border:none;
}

.filtres__legend__price
{
  font-family: 'PT Sans', arial;
  font-size: 17px;
  line-height: 30px;
  font-weight: bold;
  color: #000;
  text-transform: uppercase;
  margin-left: -15px;
}

.filtres__slider
{
  width: 220px;
  margin-top: 22px;
}

.slider
{
  width: 200px;
  height: 75px;
  background-color: #f7f3ec;
  position: relative;
  top: -20px;
  right: 15px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  padding-left: 20px;
  padding-top: 5px;
}

.price__from
{
  width: 90px;
  height: 25px;
  background-color: #f7f3ec;
  font-family: 'PT Sans', arial;
  font-size: 17px;
  line-height: 18px;
  font-weight: normal;
  color: #000;
  margin-left: -10px;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  border-radius: 4px;
  border: none;
  position: relative;
  bottom: 10px;
}

.price__from::after
{
  content: "";
  display: block;
  width: 10px;
  height: 1px;
  background-color: #fff;
  background-image: url('../img/dash.png');
  position: relative;
  left: 92px;
  bottom: 12px;
  border: none;
}

.price__till
{
  width: 90px;
  height: 25px;
  background-color: #f7f3ec;
  font-family: 'PT Sans', arial;
  font-size: 17px;
  line-height: 18px;
  font-weight: normal;
  color: #000;
  align-items: center;
  text-align: center;
  border-radius: 4px;
  border: none;
  position: relative;
  bottom: 10px;
  left: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.filtres__makers
{
  border-top: 1px solid #e5e5e5;
  border: none;
}

.filtres__legend-makers
{
  width: 220px;
  font-family: 'PT Sans', arial;
  font-size: 17px;
  line-height: 18px;
  font-weight: bold;
  text-transform: uppercase;
  padding-top: 25px;
  border-top: 1px solid #e5e5e5;
  margin-left: -10px;
  padding-left: 0px;
}

.filtres__makers__list
{
  list-style-type: none;
  margin-left: -50px;
}

.filtres__makers__list__item
{
  font-family: 'PT Sans', arial;
  font-size: 15px;
  line-height: 20px;
  font-weight: normal;
  text-transform: uppercase;
  margin-bottom: 15px;
}

input[type="checkbox"] {
    display:none;
}

input[type="checkbox"] + label span{
    display:inline-block;
    width:23px;
    height:23px;
    margin-right: 10px;
    vertical-align:middle;
	  background: url(../img/checkbox-off.png) no-repeat;
    cursor:pointer;
}

input[type="checkbox"]:checked + label span{
    background:url(../img/checkbox-on.png) no-repeat;
}

.filtres__power
{
  border: none;
  border-top: 1px solid #e5e5e5;
}

.filtres__legend-power
{
  width: 220px;
  font-family: 'PT Sans', arial;
  font-size: 17px;
  line-height: 18px;
  font-weight: bold;
  text-transform: uppercase;
  padding-top: 25px;
  border-top: 1px solid #e5e5e5;
  margin-left: -10px;
  padding-left: 0px;
}

.filtres__power__list
{
  list-style-type: none;
  margin-left: -50px;
  position: relative;
  bottom: 20px;
}

.filtres__power__list__item
{
  font-family: 'PT Sans', arial;
  font-size: 15px;
  line-height: 20px;
  font-weight: normal;
  text-transform: uppercase;
}

input[type="radio"] {
    display:none;
}

input[type="radio"] + label span{
    display:inline-block;
    width:23px;
    height:23px;
    margin-right: 10px;
    vertical-align:middle;
	  background: url(../img/checkbox-off.png) no-repeat;
    cursor:pointer;
}

input[type="radio"]:checked + label span{
    background:url(../img/checkbox-on.png) no-repeat;
}

.filter__button
{
  width: 140px;
  height: 36px;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  font-family: 'PT Sans', arial;
  font-size: 15px;
  line-height: 20px;
  font-weight: normal;
  margin-top: 78px;

}

.catalog-items-main
{
  width: 720px;
}

.catalog-item-main{
    position:relative;
    display:inline-block;
    width:215px;
    margin-right:15px;
    margin-bottom:20px;
    border:1px solid #ccc;
    line-height:20px;
    font-weight:bold;
    text-align:center;
}

.catalog-item-main:first-child{
    margin-right:22px;
    margin-top: 10px;
}
.catalog-item-main:nth-child(2n){
    margin-right:20px;
}
.catalog-item-main:nth-child(3n){
    margin-right:0;
}

.catalog-items{
    font-size:0;
}
.catalog-item-main{
    font-size:16px;
}

.catalog-item-main .flag{
    position:absolute;
    top:-1px;
    right:-1px;
    width:60px;
    height:60px;
    text-indent:-1000px;
    overflow:hidden;
     z-index:20;
}
.catalog-item-main .flag-new{
    background:url("../img/new_flag.png") no-repeat 0 0;
}

.catalog-item-main .actions{
    position:absolute;
    top:0;
    left:0;
    width:218px;
    height:88px;
    padding:40px 0;
    background-color:rgba(255,255,255,0.9);
    z-index:10;
}

.catalog-item-main .actions .buy,
.catalog-item-main .actions .bookmark{
    display:block;
    width:129px;
    margin:0 auto;
    margin-bottom:7px;
    padding:7px 0;
    border:3px solid #63a63e;
    border-bottom-color:#367315;
    background-color:#63a63e;
    color:white;
    font-size:14px;
    font-weight:normal;
    font-family:"Cuprum", sans-serif;
    line-height:18px;
    text-decoration:none;
    text-transform:uppercase;
    border-radius:3px;
}

.catalog-item-main .actions .bookmark{
    color:#32425c;
    background:white;
    border-bottom-color:#63a63e;
}

.catalog-item-main .actions{
    display:none;
}

.catalog-item-main .actions{
    display:none;
}
.catalog-item-main:hover .actions{
    display:block;
}

.catalog-item-main .image{
    width:200px;
    height:168px;
}
.catalog-item-mainm .image img{
    max-width:100%;
}

.catalog-item-main .title{
    min-height:40px;
    padding:0 25px;
    margin-top:10px;
    margin-bottom:15px;
}
.catalog-item-main .discount{
    min-height:20px;
    margin-top:15px;
    margin-bottom:10px;
    color:#999;
    text-decoration:line-through;
}

.catalog-item-main .price{
    position:relative;
    width:80px;
    margin:10px auto;
    margin-bottom:20px;
    padding:10px 30px;
    color:white;
    background:#ee3643;
    border-radius:3px;
}

.catalog-item-main .price:after{
    content:"";
    position:absolute;
    top:0;
    right:-20px;
    width:0;
    height:0;
    border:20px solid white;
    border-left-color:#ee3643;
}

.pagination__list
{
  display: inline-flex;
  list-style-type: none;
  margin-left: -40px;
  margin-bottom: 60px;
}

.pagination__list-item
{
  width: 37px;
  height: 27px;
  padding-top:10px;
  text-align: center;
  align-content: center;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  font-family: 'PT Sans', arial;
  font-size: 13px;
  line-height: 18px;
  font-weight: normal;
  margin-right: 10px;
}

.pagination__list-item-current
{
  width: 37px;
  height: 27px;
  padding-top:10px;
  text-align: center;
  align-content: center;
  background-color: #ee3643;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  margin-right: 10px;
  font-family: 'PT Sans', arial;
  font-size: 13px;
  line-height: 18px;
  font-weight: normal;
  color: white;
}

.pagination__list-item-next
{
  width: 140px;
  height: 27px;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  font-family: 'PT Sans', arial;
  font-size: 13px;
  line-height: 18px;
  font-weight: normal;
  text-transform: uppercase;
  text-align: center;
  align-content: center;
  margin-right: 10px;
  padding-top:10px
}

.pagination__list-item a
{
  color: #000;
  text-decoration: none;
}

.pagination__list-item-current a
{
  color: #fff;
  text-decoration: none;
}

.pagination__list-item a:hover
{
  color: #fff;
  text-decoration: none;
}

.pagination__list-item a:active
{
  color: #fff;
  text-decoration: none;
}

.instruments
{
  width: 100%;
  background-color: #f2f6f8;
}

.about_instruments
{
  margin-bottom: 70px;
}

.about_instruments h2
{
  font-family: 'Cuprum', arial;
  font-size: 30px;
  line-height: 24px;
  color: #000;
  font-weight: normal;
  text-transform: uppercase;
  padding-top: 62px;
}

.about_instruments p
{
  font-family: 'Cuprum', arial;
  font-size: 13px;
  line-height: 24px;
  color: #000;
  font-weight: normal;
  text-transform: uppercase;
}

.breadcrumbs__list
{
  margin-top: 17px;
  margin-bottom: 25px;
  list-style-type: none;
  display: inline-flex;
  margin-left: -40px;
}

.breadcrumbs__item a
{
  font-family: 'PT Sans', arial;
  font-size: 13px;
  line-height: 24px;
  color: #000;
  margin-right: 16px;
  font-weight: normal;
  text-transform: uppercase;
  text-decoration: none;
}

.breadcrumbs__item-current
{
  font-family: 'PT Sans', arial;
  font-size: 13px;
  line-height: 24px;
  color: #000;
  font-weight: normal;
  text-transform: uppercase;
  text-decoration: none;
}

.breadcrumbs__img
{
  margin-right: 17px;
  margin-top: 6px;
}

@media screen and (max-width: 940px) {
   .inner
   {
     width: 100%;
   }


   .box__title
   {
     font-family: 'Cuprum', arial;
     font-size: 36px;
     font-style: normal;
     line-height: 24px;
     font-weight: 400;
     text-transform: uppercase;
     color: #32425c;
     margin-top: -5px;
     margin-left: 75px;
   }

   .box__p
   {
     width: 400px;
     font-family: 'PT Sans';
     font-size: 13px;
     font-style: normal;
     line-height: 24px;
     color: #000;
     margin-top: -15px;
     margin-left: 75px;
   }

   .box__img-delivery
   {
     margin-left: 243px;
     margin-top: -150px;
   }
 }
